In [2]:
import geopandas as gpd
import os 
import numpy as np
import pandas as pd
from geopy.geocoders import Nominatim
from unidecode import unidecode

In [3]:
os.chdir('C:/Users/FERNANDO/Documents/PI_INEQUIDAD/scripts_data/data/inputs/IDH')
df=pd.read_excel('distritos_IDH.xlsx')

In [4]:
df

,Unnamed: 0,Unnamed: 1,2017,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,2018,...,Unnamed: 48,Unnamed: 49,Unnamed: 50,2024,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57
0,NaN,NaN,Población,Esperanza de Vida al Nacer,Valor esperado de años de educación en el hogar,Años de educación,Ingreso real per cápita del hogar,IDH,Ranking,Población,...,Ingreso real per cápita del hogar,IDH,Ranking,Población,Esperanza de Vida al Nacer,Valor esperado de años de educación en el hogar,Años de educación,Ingreso real per cápita del hogar,IDH,Ranking
1,Ubigeo,DEPARTAMENTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,PROVINCIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,DISTRITO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,000000,PERÚ,31237384,76.619614,0.6528,8.986952,952.043884,0.648446,NaN,31562130,...,892.095093,0.659646,NaN,34038456,78.328949,0.668455,9.452877,896.541748,0.662126,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2095,250303,CURIMANA,9158.003906,75.402672,0.609064,7.500086,478.26825,0.512615,750,9377,...,453.627502,0.509106,971,11647,77.201111,0.60402,7.229321,517.534119,0.534159,825
2096,250304,NESHUYA,9003,75.800369,0.58643,7.79634,527.644104,0.532073,641,9650,...,514.194763,0.546934,670,11944,76.78479,0.620621,8.037214,587.429016,0.564245,618
2097,250305,ALEXANDER VON HUMBOLDT,6085,76.615036,0.613311,7.648009,569.149597,0.5523,534,5903,...,539.145203,0.545462,682,6593,76.668167,0.61533,7.457568,600.211243,0.558997,657
2098,250400,PURUS,3345.999023,71.205658,0.57071,7.384655,435.207306,0.460383,NaN,3343,...,580.245178,0.528619,NaN,3240,74.546051,0.638013,8.558135,539.981384,0.542857,NaN
2099,250401,PURUS,3345.999023,71.205658,0.57071,7.384655,435.207306,0.460383,1100,3343,...,580.245178,0.528619,816,3240,74.546051,0.638013,8.558135,539.981384,0.542857,754

In [5]:
df.shape

(2100, 58)

In [6]:
idh_id=df.iloc[0,]=="IDH"

In [7]:
indices_true = [i for i, v in enumerate(idh_id) if v] # al hacer i,v extrae tanto el valor del indice como del contenido de la fila

In [8]:
indices_true

[7, 14, 21, 28, 35, 42, 49, 56]

In [9]:
df_idh=df.iloc[:,[0,1,57]+indices_true].copy()

In [10]:
df_idh

,Unnamed: 0,Unnamed: 1,Unnamed: 57,Unnamed: 7,Unnamed: 14,Unnamed: 21,Unnamed: 28,Unnamed: 35,Unnamed: 42,Unnamed: 49,Unnamed: 56
0,NaN,NaN,Ranking,IDH,IDH,IDH,IDH,IDH,IDH,IDH,IDH
1,Ubigeo,DEPARTAMENTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,PROVINCIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,DISTRITO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,000000,PERÚ,NaN,0.648446,0.656427,0.668299,0.617183,0.623293,0.652557,0.659646,0.662126
...,...,...,...,...,...,...,...,...,...,...,...
2095,250303,CURIMANA,825,0.512615,0.515191,0.528762,0.508517,0.520564,0.530411,0.509106,0.534159
2096,250304,NESHUYA,618,0.532073,0.545295,0.550378,0.541908,0.531864,0.563958,0.546934,0.564245
2097,250305,ALEXANDER VON HUMBOLDT,657,0.5523,0.55274,0.552912,0.53624,0.521654,0.551474,0.545462,0.558997
2098,250400,PURUS,NaN,0.460383,0.515817,0.508026,0.48119,0.48102,0.503836,0.528619,0.542857
2099,250401,PURUS,754,0.460383,0.515817,0.508026,0.48119,0.48102,0.503836,0.528619,0.542857

In [11]:
df_idh_final= df_idh.dropna().copy()

In [12]:
df_idh_final

,Unnamed: 0,Unnamed: 1,Unnamed: 57,Unnamed: 7,Unnamed: 14,Unnamed: 21,Unnamed: 28,Unnamed: 35,Unnamed: 42,Unnamed: 49,Unnamed: 56
7,010101,CHACHAPOYAS,184,0.649017,0.662068,0.659691,0.629091,0.63808,0.662125,0.660185,0.665437
8,010102,ASUNCION,1351,0.456998,0.463134,0.490328,0.463788,0.460521,0.515759,0.505074,0.46908
9,010103,BALSAS,1095,0.47843,0.500312,0.528787,0.501446,0.495355,0.538226,0.537378,0.500213
10,010104,CHETO,929,0.478344,0.493999,0.502776,0.475874,0.474615,0.51048,0.523958,0.519119
11,010105,CHILIQUIN,1293,0.434617,0.456547,0.488334,0.476832,0.456269,0.48982,0.448812,0.475
...,...,...,...,...,...,...,...,...,...,...,...
2094,250302,IRAZOLA,880,0.515171,0.524689,0.474112,0.50382,0.50862,0.528183,0.516319,0.525771
2095,250303,CURIMANA,825,0.512615,0.515191,0.528762,0.508517,0.520564,0.530411,0.509106,0.534159
2096,250304,NESHUYA,618,0.532073,0.545295,0.550378,0.541908,0.531864,0.563958,0.546934,0.564245
2097,250305,ALEXANDER VON HUMBOLDT,657,0.5523,0.55274,0.552912,0.53624,0.521654,0.551474,0.545462,0.558997
2099,250401,PURUS,754,0.460383,0.515817,0.508026,0.48119,0.48102,0.503836,0.528619,0.542857

In [13]:
# vamos a recodificar las columnas porque quiero que tengan el label de los años 
colnames=['UBIGEO','NOMBRE','RANKING','2017','2018','2019','2020','2021','2022','2023','2024']
df_idh_final.columns=colnames

In [14]:
df_idh_final

,UBIGEO,NOMBRE,RANKING,2017,2018,2019,2020,2021,2022,2023,2024
7,010101,CHACHAPOYAS,184,0.649017,0.662068,0.659691,0.629091,0.63808,0.662125,0.660185,0.665437
8,010102,ASUNCION,1351,0.456998,0.463134,0.490328,0.463788,0.460521,0.515759,0.505074,0.46908
9,010103,BALSAS,1095,0.47843,0.500312,0.528787,0.501446,0.495355,0.538226,0.537378,0.500213
10,010104,CHETO,929,0.478344,0.493999,0.502776,0.475874,0.474615,0.51048,0.523958,0.519119
11,010105,CHILIQUIN,1293,0.434617,0.456547,0.488334,0.476832,0.456269,0.48982,0.448812,0.475
...,...,...,...,...,...,...,...,...,...,...,...
2094,250302,IRAZOLA,880,0.515171,0.524689,0.474112,0.50382,0.50862,0.528183,0.516319,0.525771
2095,250303,CURIMANA,825,0.512615,0.515191,0.528762,0.508517,0.520564,0.530411,0.509106,0.534159
2096,250304,NESHUYA,618,0.532073,0.545295,0.550378,0.541908,0.531864,0.563958,0.546934,0.564245
2097,250305,ALEXANDER VON HUMBOLDT,657,0.5523,0.55274,0.552912,0.53624,0.521654,0.551474,0.545462,0.558997
2099,250401,PURUS,754,0.460383,0.515817,0.508026,0.48119,0.48102,0.503836,0.528619,0.542857

In [15]:
os.chdir('C:/Users/FERNANDO/Documents/PI_INEQUIDAD/scripts_data/data/inputs/distrito_ciudad_region')
dt_ubigeos=pd.read_excel('ubigeo_dis.xlsx')

In [16]:
dt_ubigeos=dt_ubigeos.iloc[:,[0,1,2,3]]

In [17]:
dt_ubigeos

      Ubigeo                Distrito    Provincia Departamento
0      10101             Chachapoyas  Chachapoyas     Amazonas
1      10102                Asuncion  Chachapoyas     Amazonas
2      10103                  Balsas  Chachapoyas     Amazonas
3      10104                   Cheto  Chachapoyas     Amazonas
4      10105               Chiliquin  Chachapoyas     Amazonas
...      ...                     ...          ...          ...
1869  250302                 Irazola   Padre Abad      Ucayali
1870  250303                Curimana   Padre Abad      Ucayali
1871  250304                 Neshuya   Padre Abad      Ucayali
1872  250305  Alexander von Humboldt   Padre Abad      Ucayali
1873  250401                   Purus        Purus      Ucayali

[1874 rows x 4 columns]

In [18]:
len(dt_ubigeos['Provincia'].unique())
colnames_1=['UBIGEO','DISTRITO','PROVINCIA','DEPARTAMENTO']
dt_ubigeos.columns=colnames_1

In [19]:
# Convertir ambos a string de 6 dígitos con ceros a la izquierda
dt_ubigeos["UBIGEO"] = dt_ubigeos["UBIGEO"].astype(str).str.zfill(6)
df_idh_final["UBIGEO"] = df_idh_final["UBIGEO"].astype(str).str.zfill(6)

# Ahora el merge funciona bien
df_merged = pd.merge(dt_ubigeos, df_idh_final, on="UBIGEO", how="left")

In [20]:
df_merged

,UBIGEO,DISTRITO,PROVINCIA,DEPARTAMENTO,NOMBRE,RANKING,2017,2018,2019,2020,2021,2022,2023,2024
0,010101,Chachapoyas,Chachapoyas,Amazonas,CHACHAPOYAS,184,0.649017,0.662068,0.659691,0.629091,0.63808,0.662125,0.660185,0.665437
1,010102,Asuncion,Chachapoyas,Amazonas,ASUNCION,1351,0.456998,0.463134,0.490328,0.463788,0.460521,0.515759,0.505074,0.46908
2,010103,Balsas,Chachapoyas,Amazonas,BALSAS,1095,0.47843,0.500312,0.528787,0.501446,0.495355,0.538226,0.537378,0.500213
3,010104,Cheto,Chachapoyas,Amazonas,CHETO,929,0.478344,0.493999,0.502776,0.475874,0.474615,0.51048,0.523958,0.519119
4,010105,Chiliquin,Chachapoyas,Amazonas,CHILIQUIN,1293,0.434617,0.456547,0.488334,0.476832,0.456269,0.48982,0.448812,0.475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1869,250302,Irazola,Padre Abad,Ucayali,IRAZOLA,880,0.515171,0.524689,0.474112,0.50382,0.50862,0.528183,0.516319,0.525771
1870,250303,Curimana,Padre Abad,Ucayali,CURIMANA,825,0.512615,0.515191,0.528762,0.508517,0.520564,0.530411,0.509106,0.534159
1871,250304,Neshuya,Padre Abad,Ucayali,NESHUYA,618,0.532073,0.545295,0.550378,0.541908,0.531864,0.563958,0.546934,0.564245
1872,250305,Alexander von Humboldt,Padre Abad,Ucayali,ALEXANDER VON HUMBOLDT,657,0.5523,0.55274,0.552912,0.53624,0.521654,0.551474,0.545462,0.558997
1873,250401,Purus,Purus,Ucayali,PURUS,754,0.460383,0.515817,0.508026,0.48119,0.48102,0.503836,0.528619,0.542857

In [21]:
os.chdir('C:/Users/FERNANDO/Documents/PI_INEQUIDAD/scripts_data/data/inputs/IDH')
df_2=pd.read_excel('IDH_2003_2019.xlsx',sheet_name='IDH_LIMPIO')
df_2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,2003.000000,2007.000000,2010.000000,2011.000000,2012.000000,2015.000000,2017.000000
1,10100.0,NaN,Chachapoyas,0.296621,0.333526,0.419712,0.420114,0.434702,0.482124,0.517913
2,10101.0,1,Chachapoyas,0.362579,0.416841,0.531764,0.529900,0.546841,0.586024,0.605711
3,10102.0,2,Asuncion,0.137923,0.133833,0.167699,0.164253,0.167700,0.351107,0.421303
4,10103.0,3,Balsas,0.210162,0.216668,0.260105,0.258221,0.262645,0.284945,0.294232
...,...,...,...,...,...,...,...,...,...,...
2262,250304.0,4,Neshuya,NaN,NaN,NaN,NaN,NaN,0.407285,0.437379
2263,250305.0,5,Alexander Von Humboldt,NaN,NaN,NaN,NaN,NaN,0.394184,0.423282
2264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2265,250400.0,NaN,Purús,0.210738,0.242792,0.282170,0.295571,0.286878,0.320142,0.335459
2266,250401.0,1,Purus,0.210738,0.242792,0.282170,0.295571,0.286878,0.320141,0.335455

In [22]:
# Identificar el nombre de la segunda columna
segunda_columna = df_2.columns[1]

# Dropear filas con NaN en esa columna
df_2 = df_2.dropna(subset=[segunda_columna])

df_2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
2,10101.0,1,Chachapoyas,0.362579,0.416841,0.531764,0.529900,0.546841,0.586024,0.605711
3,10102.0,2,Asuncion,0.137923,0.133833,0.167699,0.164253,0.167700,0.351107,0.421303
4,10103.0,3,Balsas,0.210162,0.216668,0.260105,0.258221,0.262645,0.284945,0.294232
5,10104.0,4,Cheto,0.245107,0.270709,0.320506,0.320696,0.329127,0.336396,0.329549
6,10105.0,5,Chiliquin,0.173316,0.170078,0.213185,0.207885,0.211907,0.251762,0.264602
...,...,...,...,...,...,...,...,...,...,...
2260,250302.0,2,Irazola,0.229717,0.271389,0.321569,0.338587,0.333020,0.368042,0.378183
2261,250303.0,3,Curimana,0.215457,0.249504,0.297767,0.315044,0.307998,0.354724,0.378119
2262,250304.0,4,Neshuya,NaN,NaN,NaN,NaN,NaN,0.407285,0.437379
2263,250305.0,5,Alexander Von Humboldt,NaN,NaN,NaN,NaN,NaN,0.394184,0.423282
2266,250401.0,1,Purus,0.210738,0.242792,0.282170,0.295571,0.286878,0.320141,0.335455

In [23]:
columnas_2=['UBIGEO','ndis','DISTRITO','2003',	'2007',	'2010',	'2011',	'2012',	'2015',	'2017']
df_2.columns=columnas_2

In [24]:
# Identificar el nombre de la segunda columna
primera_columna = df_2.columns[0]

# Dropear filas con NaN en esa columna
df_2 = df_2.dropna(subset=[primera_columna])

In [25]:
df_2

,UBIGEO,ndis,DISTRITO,2003,2007,2010,2011,2012,2015,2017
2,10101.0,1,Chachapoyas,0.362579,0.416841,0.531764,0.529900,0.546841,0.586024,0.605711
3,10102.0,2,Asuncion,0.137923,0.133833,0.167699,0.164253,0.167700,0.351107,0.421303
4,10103.0,3,Balsas,0.210162,0.216668,0.260105,0.258221,0.262645,0.284945,0.294232
5,10104.0,4,Cheto,0.245107,0.270709,0.320506,0.320696,0.329127,0.336396,0.329549
6,10105.0,5,Chiliquin,0.173316,0.170078,0.213185,0.207885,0.211907,0.251762,0.264602
...,...,...,...,...,...,...,...,...,...,...
2260,250302.0,2,Irazola,0.229717,0.271389,0.321569,0.338587,0.333020,0.368042,0.378183
2261,250303.0,3,Curimana,0.215457,0.249504,0.297767,0.315044,0.307998,0.354724,0.378119
2262,250304.0,4,Neshuya,NaN,NaN,NaN,NaN,NaN,0.407285,0.437379
2263,250305.0,5,Alexander Von Humboldt,NaN,NaN,NaN,NaN,NaN,0.394184,0.423282
2266,250401.0,1,Purus,0.210738,0.242792,0.282170,0.295571,0.286878,0.320141,0.335455

In [26]:
df_2.dtypes

df_2["UBIGEO"] = df_2["UBIGEO"].astype(int)

C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_29688\1437200776.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["UBIGEO"] = df_2["UBIGEO"].astype(int)

In [27]:
df_2

,UBIGEO,ndis,DISTRITO,2003,2007,2010,2011,2012,2015,2017
2,10101,1,Chachapoyas,0.362579,0.416841,0.531764,0.529900,0.546841,0.586024,0.605711
3,10102,2,Asuncion,0.137923,0.133833,0.167699,0.164253,0.167700,0.351107,0.421303
4,10103,3,Balsas,0.210162,0.216668,0.260105,0.258221,0.262645,0.284945,0.294232
5,10104,4,Cheto,0.245107,0.270709,0.320506,0.320696,0.329127,0.336396,0.329549
6,10105,5,Chiliquin,0.173316,0.170078,0.213185,0.207885,0.211907,0.251762,0.264602
...,...,...,...,...,...,...,...,...,...,...
2260,250302,2,Irazola,0.229717,0.271389,0.321569,0.338587,0.333020,0.368042,0.378183
2261,250303,3,Curimana,0.215457,0.249504,0.297767,0.315044,0.307998,0.354724,0.378119
2262,250304,4,Neshuya,NaN,NaN,NaN,NaN,NaN,0.407285,0.437379
2263,250305,5,Alexander Von Humboldt,NaN,NaN,NaN,NaN,NaN,0.394184,0.423282
2266,250401,1,Purus,0.210738,0.242792,0.282170,0.295571,0.286878,0.320141,0.335455

In [28]:
# Convertir ambos a string de 6 dígitos con ceros a la izquierda
df_merged["UBIGEO"] = df_merged["UBIGEO"].astype(str).str.zfill(6)
df_2["UBIGEO"] = df_2["UBIGEO"].astype(str).str.zfill(6)

# Ahora el merge funciona bien
df_merged_final = pd.merge(df_merged, df_2, on="UBIGEO", how="left")

C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_29688\1354895470.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["UBIGEO"] = df_2["UBIGEO"].astype(str).str.zfill(6)

In [29]:
df_merged_final
columnas_FILTRAR=['UBIGEO','DISTRITO_x','PROVINCIA','DEPARTAMENTO','2003','2007',	'2010',	'2011',	'2012',	'2015',	'2017_x','2018','2019','2020','2021','2022','2023','2024']
df_final=df_merged_final.loc[:,columnas_FILTRAR]

In [30]:
df_final

,UBIGEO,DISTRITO_x,PROVINCIA,DEPARTAMENTO,2003,2007,2010,2011,2012,2015,2017_x,2018,2019,2020,2021,2022,2023,2024
0,010101,Chachapoyas,Chachapoyas,Amazonas,0.362579,0.416841,0.531764,0.529900,0.546841,0.586024,0.649017,0.662068,0.659691,0.629091,0.63808,0.662125,0.660185,0.665437
1,010102,Asuncion,Chachapoyas,Amazonas,0.137923,0.133833,0.167699,0.164253,0.167700,0.351107,0.456998,0.463134,0.490328,0.463788,0.460521,0.515759,0.505074,0.46908
2,010103,Balsas,Chachapoyas,Amazonas,0.210162,0.216668,0.260105,0.258221,0.262645,0.284945,0.47843,0.500312,0.528787,0.501446,0.495355,0.538226,0.537378,0.500213
3,010104,Cheto,Chachapoyas,Amazonas,0.245107,0.270709,0.320506,0.320696,0.329127,0.336396,0.478344,0.493999,0.502776,0.475874,0.474615,0.51048,0.523958,0.519119
4,010105,Chiliquin,Chachapoyas,Amazonas,0.173316,0.170078,0.213185,0.207885,0.211907,0.251762,0.434617,0.456547,0.488334,0.476832,0.456269,0.48982,0.448812,0.475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1869,250302,Irazola,Padre Abad,Ucayali,0.229717,0.271389,0.321569,0.338587,0.333020,0.368042,0.515171,0.524689,0.474112,0.50382,0.50862,0.528183,0.516319,0.525771
1870,250303,Curimana,Padre Abad,Ucayali,0.215457,0.249504,0.297767,0.315044,0.307998,0.354724,0.512615,0.515191,0.528762,0.508517,0.520564,0.530411,0.509106,0.534159
1871,250304,Neshuya,Padre Abad,Ucayali,NaN,NaN,NaN,NaN,NaN,0.407285,0.532073,0.545295,0.550378,0.541908,0.531864,0.563958,0.546934,0.564245
1872,250305,Alexander von Humboldt,Padre Abad,Ucayali,NaN,NaN,NaN,NaN,NaN,0.394184,0.5523,0.55274,0.552912,0.53624,0.521654,0.551474,0.545462,0.558997
1873,250401,Purus,Purus,Ucayali,0.210738,0.242792,0.282170,0.295571,0.286878,0.320141,0.460383,0.515817,0.508026,0.48119,0.48102,0.503836,0.528619,0.542857

In [31]:
columnas_nombres=['UBIGEO','DISTRITO','PROVINCIA','DEPARTAMENTO','2003','2007',	'2010',	'2011',	'2012',	'2015',	'2017','2018','2019','2020','2021','2022','2023','2024']
df_final.columns=columnas_nombres
df_final

,UBIGEO,DISTRITO,PROVINCIA,DEPARTAMENTO,2003,2007,2010,2011,2012,2015,2017,2018,2019,2020,2021,2022,2023,2024
0,010101,Chachapoyas,Chachapoyas,Amazonas,0.362579,0.416841,0.531764,0.529900,0.546841,0.586024,0.649017,0.662068,0.659691,0.629091,0.63808,0.662125,0.660185,0.665437
1,010102,Asuncion,Chachapoyas,Amazonas,0.137923,0.133833,0.167699,0.164253,0.167700,0.351107,0.456998,0.463134,0.490328,0.463788,0.460521,0.515759,0.505074,0.46908
2,010103,Balsas,Chachapoyas,Amazonas,0.210162,0.216668,0.260105,0.258221,0.262645,0.284945,0.47843,0.500312,0.528787,0.501446,0.495355,0.538226,0.537378,0.500213
3,010104,Cheto,Chachapoyas,Amazonas,0.245107,0.270709,0.320506,0.320696,0.329127,0.336396,0.478344,0.493999,0.502776,0.475874,0.474615,0.51048,0.523958,0.519119
4,010105,Chiliquin,Chachapoyas,Amazonas,0.173316,0.170078,0.213185,0.207885,0.211907,0.251762,0.434617,0.456547,0.488334,0.476832,0.456269,0.48982,0.448812,0.475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1869,250302,Irazola,Padre Abad,Ucayali,0.229717,0.271389,0.321569,0.338587,0.333020,0.368042,0.515171,0.524689,0.474112,0.50382,0.50862,0.528183,0.516319,0.525771
1870,250303,Curimana,Padre Abad,Ucayali,0.215457,0.249504,0.297767,0.315044,0.307998,0.354724,0.512615,0.515191,0.528762,0.508517,0.520564,0.530411,0.509106,0.534159
1871,250304,Neshuya,Padre Abad,Ucayali,NaN,NaN,NaN,NaN,NaN,0.407285,0.532073,0.545295,0.550378,0.541908,0.531864,0.563958,0.546934,0.564245
1872,250305,Alexander von Humboldt,Padre Abad,Ucayali,NaN,NaN,NaN,NaN,NaN,0.394184,0.5523,0.55274,0.552912,0.53624,0.521654,0.551474,0.545462,0.558997
1873,250401,Purus,Purus,Ucayali,0.210738,0.242792,0.282170,0.295571,0.286878,0.320141,0.460383,0.515817,0.508026,0.48119,0.48102,0.503836,0.528619,0.542857

In [32]:
df_final.to_excel('C:/Users/FERNANDO/Documents/PI_INEQUIDAD/scripts_data/data/outputs/IDH.xlsx')