In [178]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import interpolate
from statsmodels.tsa.statespace.structural import UnobservedComponents

In [179]:
data=pd.read_excel("C:/Users/FERNANDO/Documents/PI_INEQUIDAD/scripts_data/data/outputs/IDH/IDH.xlsx")
data

,Unnamed: 0,UBIGEO,DISTRITO,PROVINCIA,DEPARTAMENTO,2003,2007,2010,2011,2012,2015,2017,2018,2019,2020,2021,2022,2023,2024
0,0,10101,Chachapoyas,Chachapoyas,Amazonas,0.362579,0.416841,0.531764,0.529900,0.546841,0.586024,0.649017,0.662068,0.659691,0.629091,0.638080,0.662125,0.660185,0.665437
1,1,10102,Asuncion,Chachapoyas,Amazonas,0.137923,0.133833,0.167699,0.164253,0.167700,0.351107,0.456998,0.463134,0.490328,0.463788,0.460521,0.515759,0.505074,0.469080
2,2,10103,Balsas,Chachapoyas,Amazonas,0.210162,0.216668,0.260105,0.258221,0.262645,0.284945,0.478430,0.500312,0.528787,0.501446,0.495355,0.538226,0.537378,0.500213
3,3,10104,Cheto,Chachapoyas,Amazonas,0.245107,0.270709,0.320506,0.320696,0.329127,0.336396,0.478344,0.493999,0.502776,0.475874,0.474615,0.510480,0.523958,0.519119
4,4,10105,Chiliquin,Chachapoyas,Amazonas,0.173316,0.170078,0.213185,0.207885,0.211907,0.251762,0.434617,0.456547,0.488334,0.476832,0.456269,0.489820,0.448812,0.475000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1869,1869,250302,Irazola,Padre Abad,Ucayali,0.229717,0.271389,0.321569,0.338587,0.333020,0.368042,0.515171,0.524689,0.474112,0.503820,0.508620,0.528183,0.516319,0.525771
1870,1870,250303,Curimana,Padre Abad,Ucayali,0.215457,0.249504,0.297767,0.315044,0.307998,0.354724,0.512615,0.515191,0.528762,0.508517,0.520564,0.530411,0.509106,0.534159
1871,1871,250304,Neshuya,Padre Abad,Ucayali,NaN,NaN,NaN,NaN,NaN,0.407285,0.532073,0.545295,0.550378,0.541908,0.531864,0.563958,0.546934,0.564245
1872,1872,250305,Alexander von Humboldt,Padre Abad,Ucayali,NaN,NaN,NaN,NaN,NaN,0.394184,0.552300,0.552740,0.552912,0.536240,0.521654,0.551474,0.545462,0.558997
1873,1873,250401,Purus,Purus,Ucayali,0.210738,0.242792,0.282170,0.295571,0.286878,0.320141,0.460383,0.515817,0.508026,0.481190,0.481020,0.503836,0.528619,0.542857

In [180]:
c=data.columns
anio_ini=[int(elem) for elem in c[5::]]

In [181]:
anio_ini

[2003,
 2007,
 2010,
 2011,
 2012,
 2015,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 2023,
 2024]

In [182]:
anios_tot=list(range(min(anio_ini),max(anio_ini)+1))
anios_fal=[int(elem) for elem in anios_tot if elem not in anio_ini]

In [183]:
anios_fal # obetenemos la cantidad de años faltantes

[2004, 2005, 2006, 2008, 2009, 2013, 2014, 2016]

In [184]:
for elem in anios_fal:
    data[elem]= pd.NA

In [185]:
data

,Unnamed: 0,UBIGEO,DISTRITO,PROVINCIA,DEPARTAMENTO,2003,2007,2010,2011,2012,...,2023,2024,2004,2005,2006,2008,2009,2013,2014,2016
0,0,10101,Chachapoyas,Chachapoyas,Amazonas,0.362579,0.416841,0.531764,0.529900,0.546841,...,0.660185,0.665437,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,1,10102,Asuncion,Chachapoyas,Amazonas,0.137923,0.133833,0.167699,0.164253,0.167700,...,0.505074,0.469080,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,2,10103,Balsas,Chachapoyas,Amazonas,0.210162,0.216668,0.260105,0.258221,0.262645,...,0.537378,0.500213,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,3,10104,Cheto,Chachapoyas,Amazonas,0.245107,0.270709,0.320506,0.320696,0.329127,...,0.523958,0.519119,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,4,10105,Chiliquin,Chachapoyas,Amazonas,0.173316,0.170078,0.213185,0.207885,0.211907,...,0.448812,0.475000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1869,1869,250302,Irazola,Padre Abad,Ucayali,0.229717,0.271389,0.321569,0.338587,0.333020,...,0.516319,0.525771,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1870,1870,250303,Curimana,Padre Abad,Ucayali,0.215457,0.249504,0.297767,0.315044,0.307998,...,0.509106,0.534159,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1871,1871,250304,Neshuya,Padre Abad,Ucayali,NaN,NaN,NaN,NaN,NaN,...,0.546934,0.564245,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1872,1872,250305,Alexander von Humboldt,Padre Abad,Ucayali,NaN,NaN,NaN,NaN,NaN,...,0.545462,0.558997,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1873,1873,250401,Purus,Purus,Ucayali,0.210738,0.242792,0.282170,0.295571,0.286878,...,0.528619,0.542857,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [186]:
# Ver todas las columnas
cols = data.columns

# Tomar desde la sexta columna en adelante (asumiendo que las 5 primeras son IDs)
year_cols = [int(col) for col in cols[5:] ]

# Ordenar los años
year_cols = sorted(year_cols)

#
cols_anio=[str(elem) for elm in year_cols]

In [187]:
year_cols

[2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 2023,
 2024]

In [188]:
d=data.iloc[:,19:]

In [189]:
datos=data.columns

In [190]:
len(datos)
datos

Index([  'Unnamed: 0',       'UBIGEO',     'DISTRITO',    'PROVINCIA',
       'DEPARTAMENTO',         '2003',         '2007',         '2010',
               '2011',         '2012',         '2015',         '2017',
               '2018',         '2019',         '2020',         '2021',
               '2022',         '2023',         '2024',           2004,
                 2005,           2006,           2008,           2009,
                 2013,           2014,           2016],
      dtype='object')

In [191]:
data.columns

Index([  'Unnamed: 0',       'UBIGEO',     'DISTRITO',    'PROVINCIA',
       'DEPARTAMENTO',         '2003',         '2007',         '2010',
               '2011',         '2012',         '2015',         '2017',
               '2018',         '2019',         '2020',         '2021',
               '2022',         '2023',         '2024',           2004,
                 2005,           2006,           2008,           2009,
                 2013,           2014,           2016],
      dtype='object')

In [192]:
# --- 1. Asegurar que todos los nombres de columnas sean strings
data.columns = data.columns.astype(str)

# --- 2. Identificar columnas que son años (solo dígitos)
year_cols = [c for c in data.columns if c.isdigit()]

# --- 3. Ordenar los años numéricamente
year_cols = sorted(year_cols, key=int)

# --- 4. Identificar las columnas de identificación (las no-numéricas)
id_cols = [c for c in data.columns if not c.isdigit()]

# --- 5. Reordenar el DataFrame: primero IDs, luego años
data = data[id_cols + year_cols]

# --- 6. (Opcional) Verificar el nuevo orden
print(data.columns.tolist())

['Unnamed: 0', 'UBIGEO', 'DISTRITO', 'PROVINCIA', 'DEPARTAMENTO', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']

In [193]:
data # ahora si ya estan listos para proyectar

,Unnamed: 0,UBIGEO,DISTRITO,PROVINCIA,DEPARTAMENTO,2003,2004,2005,2006,2007,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,0,10101,Chachapoyas,Chachapoyas,Amazonas,0.362579,<NA>,<NA>,<NA>,0.416841,...,0.586024,<NA>,0.649017,0.662068,0.659691,0.629091,0.638080,0.662125,0.660185,0.665437
1,1,10102,Asuncion,Chachapoyas,Amazonas,0.137923,<NA>,<NA>,<NA>,0.133833,...,0.351107,<NA>,0.456998,0.463134,0.490328,0.463788,0.460521,0.515759,0.505074,0.469080
2,2,10103,Balsas,Chachapoyas,Amazonas,0.210162,<NA>,<NA>,<NA>,0.216668,...,0.284945,<NA>,0.478430,0.500312,0.528787,0.501446,0.495355,0.538226,0.537378,0.500213
3,3,10104,Cheto,Chachapoyas,Amazonas,0.245107,<NA>,<NA>,<NA>,0.270709,...,0.336396,<NA>,0.478344,0.493999,0.502776,0.475874,0.474615,0.510480,0.523958,0.519119
4,4,10105,Chiliquin,Chachapoyas,Amazonas,0.173316,<NA>,<NA>,<NA>,0.170078,...,0.251762,<NA>,0.434617,0.456547,0.488334,0.476832,0.456269,0.489820,0.448812,0.475000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1869,1869,250302,Irazola,Padre Abad,Ucayali,0.229717,<NA>,<NA>,<NA>,0.271389,...,0.368042,<NA>,0.515171,0.524689,0.474112,0.503820,0.508620,0.528183,0.516319,0.525771
1870,1870,250303,Curimana,Padre Abad,Ucayali,0.215457,<NA>,<NA>,<NA>,0.249504,...,0.354724,<NA>,0.512615,0.515191,0.528762,0.508517,0.520564,0.530411,0.509106,0.534159
1871,1871,250304,Neshuya,Padre Abad,Ucayali,NaN,<NA>,<NA>,<NA>,NaN,...,0.407285,<NA>,0.532073,0.545295,0.550378,0.541908,0.531864,0.563958,0.546934,0.564245
1872,1872,250305,Alexander von Humboldt,Padre Abad,Ucayali,NaN,<NA>,<NA>,<NA>,NaN,...,0.394184,<NA>,0.552300,0.552740,0.552912,0.536240,0.521654,0.551474,0.545462,0.558997
1873,1873,250401,Purus,Purus,Ucayali,0.210738,<NA>,<NA>,<NA>,0.242792,...,0.320141,<NA>,0.460383,0.515817,0.508026,0.481190,0.481020,0.503836,0.528619,0.542857

In [194]:
interpolar=data.iloc[:,5:].copy() # data a interpolar

# POLINÓMICA

In [195]:
# --- 1. Asegurar que todas las columnas sean strings
data.columns = data.columns.astype(str)

# --- 2. Separar las columnas de años y las de identificación
year_cols = [c for c in data.columns if c.isdigit()]
id_cols = [c for c in data.columns if not c.isdigit()]

# --- 3. Ordenar los años numéricamente
year_cols = sorted(year_cols, key=int)

# --- 4. Reordenar el DataFrame
data = data[id_cols + year_cols]

# --- 5. Interpolación numérica entre años
# Convertimos los años a columnas numéricas para interpolar correctamente
data[year_cols] = data[year_cols].apply(pd.to_numeric, errors='coerce')

In [ ]:
# Realizamos la interpolación a lo largo de las columnas (por fila)
inter_lineal= data[year_cols].interpolate(axis=1, method='linear')

# --- 6. Verificamos los resultados
inter_lineal

       2003      2004      2005      2006      2007      2008      2009  \
0  0.362579  0.376145  0.389710  0.403275  0.416841  0.455149  0.493456
1  0.137923  0.136901  0.135878  0.134856  0.133833  0.145122  0.156410
2  0.210162  0.211788  0.213415  0.215041  0.216668  0.231147  0.245626
3  0.245107  0.251508  0.257908  0.264309  0.270709  0.287308  0.303907
4  0.173316  0.172506  0.171697  0.170887  0.170078  0.184447  0.198816

       2010      2011      2012  ...      2015      2016      2017      2018  \
0  0.531764  0.529900  0.546841  ...  0.586024  0.617520  0.649017  0.662068
1  0.167699  0.164253  0.167700  ...  0.351107  0.404052  0.456998  0.463134
2  0.260105  0.258221  0.262645  ...  0.284945  0.381688  0.478430  0.500312
3  0.320506  0.320696  0.329127  ...  0.336396  0.407370  0.478344  0.493999
4  0.213185  0.207885  0.211907  ...  0.251762  0.343190  0.434617  0.456547

       2019      2020      2021      2022      2023      2024
0  0.659691  0.629091  0.638080  0.662125  0.660185  0.665437
1  0.490328  0.463788  0.460521  0.515759  0.505074  0.469080
2  0.528787  0.501446  0.495355  0.538226  0.537378  0.500213
3  0.502776  0.475874  0.474615  0.510480  0.523958  0.519119
4  0.488334  0.476832  0.456269  0.489820  0.448812  0.475000

[5 rows x 22 columns]

In [197]:
import pandas as pd

# Copiamos solo las columnas de años
temp = data[year_cols].copy()

# Convertimos los nombres de columnas a enteros
temp.columns = temp.columns.astype(int)

# Interpolamos con método polinómico de orden 2
inter_poli = temp.interpolate(axis=1, method='polynomial', order=2)

# Restauramos nombres originales (como string)
inter_poli.columns = inter_poli.columns.astype(str)

# Reemplazamos los valores en el DataFrame original
inter_poli

,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,0.362579,0.358437,0.366100,0.385568,0.416841,0.459918,0.509276,0.531764,0.529900,0.546841,...,0.586024,0.618614,0.649017,0.662068,0.659691,0.629091,0.638080,0.662125,0.660185,0.665437
1,0.137923,0.128916,0.125232,0.126871,0.133833,0.146118,0.161620,0.167699,0.164253,0.167700,...,0.351107,0.417044,0.456998,0.463134,0.490328,0.463788,0.460521,0.515759,0.505074,0.469080
2,0.210162,0.203202,0.201966,0.206455,0.216668,0.232605,0.251872,0.260105,0.258221,0.262645,...,0.284945,0.387340,0.478430,0.500312,0.528787,0.501446,0.495355,0.538226,0.537378,0.500213
3,0.245107,0.244182,0.248140,0.256983,0.270709,0.289320,0.310516,0.320506,0.320696,0.329127,...,0.336396,0.410579,0.478344,0.493999,0.502776,0.475874,0.474615,0.510480,0.523958,0.519119
4,0.173316,0.162306,0.158096,0.160687,0.170078,0.186269,0.206386,0.213185,0.207885,0.211907,...,0.251762,0.349184,0.434617,0.456547,0.488334,0.476832,0.456269,0.489820,0.448812,0.475000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1869,0.229717,0.237532,0.247082,0.258368,0.271389,0.286146,0.302716,0.321569,0.338587,0.333020,...,0.368042,0.445564,0.515171,0.524689,0.474112,0.503820,0.508620,0.528183,0.516319,0.525771
1870,0.215457,0.220895,0.228382,0.237918,0.249504,0.263139,0.278957,0.297767,0.315044,0.307998,...,0.354724,0.443290,0.512615,0.515191,0.528762,0.508517,0.520564,0.530411,0.509106,0.534159
1871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.407285,0.487456,0.532073,0.545295,0.550378,0.541908,0.531864,0.563958,0.546934,0.564245
1872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.394184,0.502438,0.552300,0.552740,0.552912,0.536240,0.521654,0.551474,0.545462,0.558997
1873,0.210738,0.216738,0.224081,0.232765,0.242792,0.254162,0.267011,0.282170,0.295571,0.286878,...,0.320141,0.385215,0.460383,0.515817,0.508026,0.481190,0.481020,0.503836,0.528619,0.542857

In [199]:
temp = data[year_cols].copy()
temp.columns = pd.to_datetime(temp.columns, format='%Y')

# Interpolación basada en tiempo
inter_time = temp.interpolate(method='time', axis=1)

# Restauramos los nombres originales (como strings)
inter_time.columns = inter_time.columns.year.astype(str)

# Reemplazamos los valores interpolados en el DataFrame original
inter_time

,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,0.362579,0.376135,0.389729,0.403285,0.416841,0.455114,0.493491,0.531764,0.529900,0.546841,...,0.586024,0.617477,0.649017,0.662068,0.659691,0.629091,0.638080,0.662125,0.660185,0.665437
1,0.137923,0.136901,0.135877,0.134855,0.133833,0.145111,0.156421,0.167699,0.164253,0.167700,...,0.351107,0.403980,0.456998,0.463134,0.490328,0.463788,0.460521,0.515759,0.505074,0.469080
2,0.210162,0.211787,0.213417,0.215043,0.216668,0.231134,0.245639,0.260105,0.258221,0.262645,...,0.284945,0.381555,0.478430,0.500312,0.528787,0.501446,0.495355,0.538226,0.537378,0.500213
3,0.245107,0.251504,0.257917,0.264313,0.270709,0.287293,0.303922,0.320506,0.320696,0.329127,...,0.336396,0.407273,0.478344,0.493999,0.502776,0.475874,0.474615,0.510480,0.523958,0.519119
4,0.173316,0.172507,0.171696,0.170887,0.170078,0.184434,0.198829,0.213185,0.207885,0.211907,...,0.251762,0.343065,0.434617,0.456547,0.488334,0.476832,0.456269,0.489820,0.448812,0.475000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1869,0.229717,0.240128,0.250567,0.260978,0.271389,0.288101,0.304858,0.321569,0.338587,0.333020,...,0.368042,0.441506,0.515171,0.524689,0.474112,0.503820,0.508620,0.528183,0.516319,0.525771
1870,0.215457,0.223963,0.232492,0.240998,0.249504,0.265577,0.281694,0.297767,0.315044,0.307998,...,0.354724,0.433561,0.512615,0.515191,0.528762,0.508517,0.520564,0.530411,0.509106,0.534159
1871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.407285,0.469594,0.532073,0.545295,0.550378,0.541908,0.531864,0.563958,0.546934,0.564245
1872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.394184,0.473134,0.552300,0.552740,0.552912,0.536240,0.521654,0.551474,0.545462,0.558997
1873,0.210738,0.218746,0.226776,0.234784,0.242792,0.255906,0.269056,0.282170,0.295571,0.286878,...,0.320141,0.390166,0.460383,0.515817,0.508026,0.481190,0.481020,0.503836,0.528619,0.542857

In [ ]:
# hay algunos que no tienen del 2003 al 2012