In [42]:
import os
import requests
from datetime import datetime
import re
import json  # Para exportar el resumen
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import time
import numpy as np

In [43]:
inicio="1950" # inicio
fin="2021" # termina en 2024 todas las series 
fechas = pd.date_range(start=inicio, end=fin, freq='YS') # creamos las fechas para que tengan solo mes y año
fechas_lista = fechas.strftime('%Y').tolist() # ACA ESTAN LAS FECHAS
print(fechas_lista)

['1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']

#### INVERSIÓN PUBLICA Y PRIVADA
###### INVERSION PUBLICA PD39589DA
###### INVERSION PRIVADA PD39588DA
##### LOS VALORES YA SON REALES

In [44]:
# ESTA PRIMERA CELDA ES UNA MUESTRA DE LO QUE SE HACE
codigo="PD39589DA" 
url = f'https://estadisticas.bcrp.gob.pe/estadisticas/series/api/{codigo}/json/1950/2021' # las fechas de inicio y final tmbn pueden ser delimitadas
response = requests.get(url) # la respuesta viene a ser el output de la consulta de la dirección dada por el API
data_publica=response.json() # lo almacenamos en un elemenot llamado data
print(data_publica) # la data es un diccionario que contiene todos los valores que necesitamos

{'config': {'title': 'PBI Gasto', 'series': [{'name': 'PBI Gasto - Inversión Bruta Fija - Pública (Mill S/ 2007)', 'dec': '0'}]}, 'periods': [{'name': '1950', 'values': ['619.853817868256']}, {'name': '1951', 'values': ['655.805339304615']}, {'name': '1952', 'values': ['1467.69234936373']}, {'name': '1953', 'values': ['1225.52311171871']}, {'name': '1954', 'values': ['959.584596475753']}, {'name': '1955', 'values': ['2102.44985087837']}, {'name': '1956', 'values': ['1663.03783204479']}, {'name': '1957', 'values': ['1383.64747626127']}, {'name': '1958', 'values': ['1422.38960559658']}, {'name': '1959', 'values': ['940.199529299342']}, {'name': '1960', 'values': ['856.521771191701']}, {'name': '1961', 'values': ['2157.57834163189']}, {'name': '1962', 'values': ['1902.98409731933']}, {'name': '1963', 'values': ['1971.49152482283']}, {'name': '1964', 'values': ['2677.2854907094']}, {'name': '1965', 'values': ['3464.40742497796']}, {'name': '1966', 'values': ['4001.39057584955']}, {'name': '1967', 'values': ['3457.20145753401']}, {'name': '1968', 'values': ['3059.6232899176']}, {'name': '1969', 'values': ['3640.95171500194']}, {'name': '1970', 'values': ['4372.78300971733']}, {'name': '1971', 'values': ['5050.56437622352']}, {'name': '1972', 'values': ['5489.96347695496']}, {'name': '1973', 'values': ['6478.15690280686']}, {'name': '1974', 'values': ['10170.7063374068']}, {'name': '1975', 'values': ['11381.0203915582']}, {'name': '1976', 'values': ['10732.3022292394']}, {'name': '1977', 'values': ['7866.77753403244']}, {'name': '1978', 'values': ['6513.69179817886']}, {'name': '1979', 'values': ['7432.12234172208']}, {'name': '1980', 'values': ['9677.50569937209']}, {'name': '1981', 'values': ['12045.3554056601']}, {'name': '1982', 'values': ['12474.9999850356']}, {'name': '1983', 'values': ['10982.5377432595']}, {'name': '1984', 'values': ['11065.0832430831']}, {'name': '1985', 'values': ['8937.33710136622']}, {'name': '1986', 'values': ['8522.62660521139']}, {'name': '1987', 'values': ['8111.87143472209']}, {'name': '1988', 'values': ['5518.40066423942']}, {'name': '1989', 'values': ['6375.73066187728']}, {'name': '1990', 'values': ['4663.89552542424']}, {'name': '1991', 'values': ['5072.597001344']}, {'name': '1992', 'values': ['6095.64838006005']}, {'name': '1993', 'values': ['7112.56939845504']}, {'name': '1994', 'values': ['9264.4085602456']}, {'name': '1995', 'values': ['9139.79353714708']}, {'name': '1996', 'values': ['8871.62835712202']}, {'name': '1997', 'values': ['10147.5099477358']}, {'name': '1998', 'values': ['10861.0135472871']}, {'name': '1999', 'values': ['12006.411901315']}, {'name': '2000', 'values': ['10202.4820544194']}, {'name': '2001', 'values': ['7794.06317708443']}, {'name': '2002', 'values': ['7312.85286271298']}, {'name': '2003', 'values': ['7478.71031838481']}, {'name': '2004', 'values': ['7466.51556021969']}, {'name': '2005', 'values': ['8224.44906728702']}, {'name': '2006', 'values': ['9664.76462550805']}, {'name': '2007', 'values': ['11321.7164174155']}, {'name': '2008', 'values': ['14356.1348672341']}, {'name': '2009', 'values': ['19122.2818752497']}, {'name': '2010', 'values': ['21965.4208046229']}, {'name': '2011', 'values': ['19508.9796834418']}, {'name': '2012', 'values': ['23298.5756843259']}, {'name': '2013', 'values': ['25880.0082910533']}, {'name': '2014', 'values': ['25121.5940660632']}, {'name': '2015', 'values': ['23394.781848957']}, {'name': '2016', 'values': ['23455.0352167468']}, {'name': '2017', 'values': ['23034.4968892537']}, {'name': '2018', 'values': ['24300.457415487']}, {'name': '2019', 'values': ['23930.4152111194']}, {'name': '2020', 'values': ['20327.5213744918']}, {'name': '2021', 'values': ['25389.8889235352']}]}

In [45]:
# ESTA PRIMERA CELDA ES UNA MUESTRA DE LO QUE SE HACE
codigo="PD39588DA" 
url = f'https://estadisticas.bcrp.gob.pe/estadisticas/series/api/{codigo}/json/1950/2021' # las fechas de inicio y final tmbn pueden ser delimitadas
response = requests.get(url) # la respuesta viene a ser el output de la consulta de la dirección dada por el API
data_privada=response.json() # lo almacenamos en un elemenot llamado data
print(data_privada) # la data es un diccionario que contiene todos los valores que necesitamos

{'config': {'title': 'PBI Gasto', 'series': [{'name': 'PBI Gasto - Inversión Bruta Fija - Privada (Mill S/ 2007)', 'dec': '0'}]}, 'periods': [{'name': '1950', 'values': ['4491.63908068659']}, {'name': '1951', 'values': ['6165.28702668653']}, {'name': '1952', 'values': ['6519.46874159277']}, {'name': '1953', 'values': ['7399.78574898295']}, {'name': '1954', 'values': ['6284.67734292162']}, {'name': '1955', 'values': ['6474.77963544396']}, {'name': '1956', 'values': ['8812.07340941929']}, {'name': '1957', 'values': ['10021.5000076531']}, {'name': '1958', 'values': ['8769.17365283247']}, {'name': '1959', 'values': ['7066.60755342631']}, {'name': '1960', 'values': ['7739.66366062461']}, {'name': '1961', 'values': ['8835.42084298034']}, {'name': '1962', 'values': ['10573.4415324184']}, {'name': '1963', 'values': ['9897.65836504634']}, {'name': '1964', 'values': ['9112.41091069475']}, {'name': '1965', 'values': ['10646.6911781113']}, {'name': '1966', 'values': ['11845.4866887499']}, {'name': '1967', 'values': ['11098.863349102']}, {'name': '1968', 'values': ['9328.42050577269']}, {'name': '1969', 'values': ['9240.62932314074']}, {'name': '1970', 'values': ['10089.3769217884']}, {'name': '1971', 'values': ['11284.3230948532']}, {'name': '1972', 'values': ['11492.0302153871']}, {'name': '1973', 'values': ['16619.9664520744']}, {'name': '1974', 'values': ['19321.4202723824']}, {'name': '1975', 'values': ['19276.9004585876']}, {'name': '1976', 'values': ['15768.0622444469']}, {'name': '1977', 'values': ['16199.7325698652']}, {'name': '1978', 'values': ['15332.7713339236']}, {'name': '1979', 'values': ['16589.3872095439']}, {'name': '1980', 'values': ['21770.1315772703']}, {'name': '1981', 'values': ['25700.0580484553']}, {'name': '1982', 'values': ['23834.8647352324']}, {'name': '1983', 'values': ['14650.5597504783']}, {'name': '1984', 'values': ['13639.1338125388']}, {'name': '1985', 'values': ['12079.3865626826']}, {'name': '1986', 'values': ['16802.118982266']}, {'name': '1987', 'values': ['21260.4575730726']}, {'name': '1988', 'values': ['19321.4015600216']}, {'name': '1989', 'values': ['15242.3031464015']}, {'name': '1990', 'values': ['17158.8888402332']}, {'name': '1991', 'values': ['17154.3985193615']}, {'name': '1992', 'values': ['16450.267459984']}, {'name': '1993', 'values': ['18028.4435028188']}, {'name': '1994', 'values': ['25088']}, {'name': '1995', 'values': ['31946']}, {'name': '1996', 'values': ['31247']}, {'name': '1997', 'values': ['36241']}, {'name': '1998', 'values': ['35373']}, {'name': '1999', 'values': ['29981']}, {'name': '2000', 'values': ['29461']}, {'name': '2001', 'values': ['28089']}, {'name': '2002', 'values': ['28145']}, {'name': '2003', 'values': ['29915']}, {'name': '2004', 'values': ['32335']}, {'name': '2005', 'values': ['36217']}, {'name': '2006', 'values': ['43482']}, {'name': '2007', 'values': ['53625.9988953816']}, {'name': '2008', 'values': ['66440.2024640959']}, {'name': '2009', 'values': ['60565.8119891498']}, {'name': '2010', 'values': ['76166.7259484597']}, {'name': '2011', 'values': ['84517.953508024']}, {'name': '2012', 'values': ['97724.4294493486']}, {'name': '2013', 'values': ['104661.483090985']}, {'name': '2014', 'values': ['102542.41155108']}, {'name': '2015', 'values': ['98101.031352083']}, {'name': '2016', 'values': ['93159.0890897275']}, {'name': '2017', 'values': ['93192.6675220131']}, {'name': '2018', 'values': ['97029.0141506319']}, {'name': '2019', 'values': ['101406.109866744']}, {'name': '2020', 'values': ['84694.1592139304']}, {'name': '2021', 'values': ['116349.984108901']}]}

In [46]:
datos_publica=[float(elem['values'][0]) for elem in data_publica['periods']]
print(datos_publica)

datos_privada=[float(elem['values'][0]) for elem in data_privada['periods']]
print(datos_privada)

[619.853817868256, 655.805339304615, 1467.69234936373, 1225.52311171871, 959.584596475753, 2102.44985087837, 1663.03783204479, 1383.64747626127, 1422.38960559658, 940.199529299342, 856.521771191701, 2157.57834163189, 1902.98409731933, 1971.49152482283, 2677.2854907094, 3464.40742497796, 4001.39057584955, 3457.20145753401, 3059.6232899176, 3640.95171500194, 4372.78300971733, 5050.56437622352, 5489.96347695496, 6478.15690280686, 10170.7063374068, 11381.0203915582, 10732.3022292394, 7866.77753403244, 6513.69179817886, 7432.12234172208, 9677.50569937209, 12045.3554056601, 12474.9999850356, 10982.5377432595, 11065.0832430831, 8937.33710136622, 8522.62660521139, 8111.87143472209, 5518.40066423942, 6375.73066187728, 4663.89552542424, 5072.597001344, 6095.64838006005, 7112.56939845504, 9264.4085602456, 9139.79353714708, 8871.62835712202, 10147.5099477358, 10861.0135472871, 12006.411901315, 10202.4820544194, 7794.06317708443, 7312.85286271298, 7478.71031838481, 7466.51556021969, 8224.44906728702, 9664.76462550805, 11321.7164174155, 14356.1348672341, 19122.2818752497, 21965.4208046229, 19508.9796834418, 23298.5756843259, 25880.0082910533, 25121.5940660632, 23394.781848957, 23455.0352167468, 23034.4968892537, 24300.457415487, 23930.4152111194, 20327.5213744918, 25389.8889235352]
[4491.63908068659, 6165.28702668653, 6519.46874159277, 7399.78574898295, 6284.67734292162, 6474.77963544396, 8812.07340941929, 10021.5000076531, 8769.17365283247, 7066.60755342631, 7739.66366062461, 8835.42084298034, 10573.4415324184, 9897.65836504634, 9112.41091069475, 10646.6911781113, 11845.4866887499, 11098.863349102, 9328.42050577269, 9240.62932314074, 10089.3769217884, 11284.3230948532, 11492.0302153871, 16619.9664520744, 19321.4202723824, 19276.9004585876, 15768.0622444469, 16199.7325698652, 15332.7713339236, 16589.3872095439, 21770.1315772703, 25700.0580484553, 23834.8647352324, 14650.5597504783, 13639.1338125388, 12079.3865626826, 16802.118982266, 21260.4575730726, 19321.4015600216, 15242.3031464015, 17158.8888402332, 17154.3985193615, 16450.267459984, 18028.4435028188, 25088.0, 31946.0, 31247.0, 36241.0, 35373.0, 29981.0, 29461.0, 28089.0, 28145.0, 29915.0, 32335.0, 36217.0, 43482.0, 53625.9988953816, 66440.2024640959, 60565.8119891498, 76166.7259484597, 84517.953508024, 97724.4294493486, 104661.483090985, 102542.41155108, 98101.031352083, 93159.0890897275, 93192.6675220131, 97029.0141506319, 101406.109866744, 84694.1592139304, 116349.984108901]

In [47]:
columnas = ['Fecha','INV_publica','INV_privada']
datos= [fechas_lista]+[datos_publica]+[datos_privada]
dic_data={}

for i in range(len(datos)): # se arma el diccionario con la data correspondiente a cada columna
    dic_data[columnas[i]]=datos[i]


df=pd.DataFrame(dic_data,columns=columnas) # ya estan en unidades reales (NO CONFUNDIR)
df = df.apply(pd.to_numeric, errors='coerce')
df

    Fecha   INV_publica    INV_privada
0    1950    619.853818    4491.639081
1    1951    655.805339    6165.287027
2    1952   1467.692349    6519.468742
3    1953   1225.523112    7399.785749
4    1954    959.584596    6284.677343
..    ...           ...            ...
67   2017  23034.496889   93192.667522
68   2018  24300.457415   97029.014151
69   2019  23930.415211  101406.109867
70   2020  20327.521374   84694.159214
71   2021  25389.888924  116349.984109

[72 rows x 3 columns]

In [48]:
directorio='C:/Users/FERNANDO/Documents/PI_INEQUIDAD/scripts_data/data/outputs'
df_prop=df.iloc[40:,].reset_index(drop=True).copy() # porque mi data de defalctor empieza de 1990
#print(df_prop)
os.chdir(directorio)
deflactor=pd.read_excel('DEFLACTOR.xlsx')
def_1=deflactor.iloc[0:32,].copy()
#print(def_1)
df_prop.iloc[:, 1:] = df_prop.iloc[:, 1:].div(def_1['PBI_real'], axis=0)
df_prop

    Fecha  INV_publica  INV_privada
0    1990     0.030786     0.113266
1    1991     0.032757     0.110778
2    1992     0.039578     0.106808
3    1993     0.043880     0.111223
4    1994     0.050891     0.137813
5    1995     0.046742     0.163377
6    1996     0.044135     0.155451
7    1997     0.047412     0.169328
8    1998     0.050945     0.165922
9    1999     0.055488     0.138559
10   2000     0.045914     0.132584
11   2001     0.034860     0.125633
12   2002     0.031017     0.119373
13   2003     0.030452     0.121807
14   2004     0.028966     0.125441
15   2005     0.030019     0.132193
16   2006     0.032807     0.147598
17   2007     0.035414     0.167742
18   2008     0.041150     0.190444
19   2009     0.054218     0.171724
20   2010     0.057489     0.199347
21   2011     0.048021     0.208041
22   2012     0.054032     0.226634
23   2013     0.056700     0.229302
24   2014     0.053758     0.219432
25   2015     0.048486     0.203316
26   2016     0.046762     0.185731
27   2017     0.044795     0.181233
28   2018     0.045453     0.181490
29   2019     0.043780     0.185520
30   2020     0.041724     0.173842
31   2021     0.045972     0.210670

In [49]:
directorio='C:/Users/FERNANDO/Documents/PI_INEQUIDAD/scripts_data/data/outputs/inversion bruta/nacional'
os.chdir(directorio)
#XPORTAMOS LA DATA
df_prop.to_excel('porcentaje_public_priv.xlsx', index=False)
df.to_excel('ureales_public_priv.xlsx',index=False)