In [32]:
import os as os
import numpy as np
import pandas as pd

In [33]:
os.chdir('C:/Users/FERNANDO/Downloads/IMPORTACIONES/partidas/721320')

In [34]:
data=pd.read_excel('7213200000 - 2015.xls')
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,SUPERINTENDENCIA NACIONAL DE ADMINISTRACION TR...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fecha y Hora: 01/07/2025 18:59:20,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,REPORTE DE IMPORTACIONES POR PARTIDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,PARTIDA:,NaN,NaN,NaN,NaN,7213200000 - DEMAS ALAMBRONES DE ACERO DE FAC...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,PERIODO:,NaN,NaN,NaN,NaN,TODO EL AÑO 2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,ADUANA:,NaN,NaN,NaN,NaN,TODAS LAS ADUANAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,ITEM,PARTIDA,NaN,NaN,ADUANA,NaN,PAIS,NaN,MES,FOB $,CIF $,NaN,NaN,ADV $,IMP. ARANCEL $
11,NaN,1,7213200000,NaN,NaN,MARITIMA DEL CALLAO ...,NaN,CHINA ...,NaN,Enero 2015,"641,033.89","692,172.65",NaN,NaN,0,"124,591.09"
12,NaN,2,7213200000,NaN,NaN,MARITIMA DEL CALLAO ...,NaN,CHINA ...,NaN,Febrero 2015,"467,828.11","502,025.64",NaN,NaN,0,"90,364.62"
13,NaN,3,7213200000,NaN,NaN,MARITIMA DEL CALLAO ...,NaN,CHINA ...,NaN,Marzo 2015,"238,373.41","261,789.52",NaN,NaN,0,"47,122.11"
14,NaN,4,7213200000,NaN,NaN,MARITIMA DEL CALLAO ...,NaN,CHINA ...,NaN,Abril 2015,"223,818.26","241,245.82",NaN,NaN,0,"43,424.25"
15,NaN,5,7213200000,NaN,NaN,MARITIMA DEL CALLAO ...,NaN,CHINA ...,NaN,Mayo 2015,"46,237.68","51,208.91",NaN,NaN,0,"9,217.61"
16,NaN,6,7213200000,NaN,NaN,MARITIMA DEL CALLAO ...,NaN,CHINA ...,NaN,Junio 2015,"223,817.79","241,245.32",NaN,NaN,0,"43,424.16"
17,NaN,7,7213200000,NaN,NaN,MARITIMA DEL CALLAO ...,NaN,CHINA ...,NaN,Octubre 2015,"250,033.64","278,340.04",NaN,NaN,0,"50,101.21"
18,NaN,8,7213200000,NaN,NaN,MARITIMA DEL CALLAO ...,NaN,CHINA ...,NaN,Noviembre 2015,"26,184.08","27,284.08",NaN,NaN,0,"4,911.14"
19,NaN,9,7213200000,NaN,NaN,MARITIMA DEL CALLAO ...,NaN,"KOREA, REPUBLIC OF ...",NaN,Julio 2015,"91,029.84","98,239.29",NaN,NaN,0,"17,683.08"
20,NaN,10,7213200000,NaN,NaN,MARITIMA DEL CALLAO ...,NaN,EL SALVADOR ...,NaN,Enero 2015,"19,775.49","21,406.61",NaN,NaN,0,"3,853.19"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,Total de registros : 10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
cols_a_mantener = [i for i in range(data.shape[1]) if i not in [0,3,4,6,8,13,12]]
data = data.iloc[:, cols_a_mantener]
data

,Unnamed: 1,Unnamed: 2,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,REPORTE DE IMPORTACIONES POR PARTIDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,PARTIDA:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,PERIODO:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,ADUANA:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,ITEM,PARTIDA,ADUANA,PAIS,MES,FOB $,CIF $,ADV $,IMP. ARANCEL $
11,1,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Enero 2015,"641,033.89","692,172.65",0,"124,591.09"
12,2,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Febrero 2015,"467,828.11","502,025.64",0,"90,364.62"
13,3,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Marzo 2015,"238,373.41","261,789.52",0,"47,122.11"
14,4,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Abril 2015,"223,818.26","241,245.82",0,"43,424.25"
15,5,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Mayo 2015,"46,237.68","51,208.91",0,"9,217.61"
16,6,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Junio 2015,"223,817.79","241,245.32",0,"43,424.16"
17,7,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Octubre 2015,"250,033.64","278,340.04",0,"50,101.21"
18,8,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Noviembre 2015,"26,184.08","27,284.08",0,"4,911.14"
19,9,7213200000,MARITIMA DEL CALLAO ...,"KOREA, REPUBLIC OF ...",Julio 2015,"91,029.84","98,239.29",0,"17,683.08"
20,10,7213200000,MARITIMA DEL CALLAO ...,EL SALVADOR ...,Enero 2015,"19,775.49","21,406.61",0,"3,853.19"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Total de registros : 10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
data=data.dropna()

In [37]:
data

,Unnamed: 1,Unnamed: 2,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 14,Unnamed: 15
10,ITEM,PARTIDA,ADUANA,PAIS,MES,FOB $,CIF $,ADV $,IMP. ARANCEL $
11,1,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Enero 2015,"641,033.89","692,172.65",0,"124,591.09"
12,2,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Febrero 2015,"467,828.11","502,025.64",0,"90,364.62"
13,3,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Marzo 2015,"238,373.41","261,789.52",0,"47,122.11"
14,4,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Abril 2015,"223,818.26","241,245.82",0,"43,424.25"
15,5,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Mayo 2015,"46,237.68","51,208.91",0,"9,217.61"
16,6,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Junio 2015,"223,817.79","241,245.32",0,"43,424.16"
17,7,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Octubre 2015,"250,033.64","278,340.04",0,"50,101.21"
18,8,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Noviembre 2015,"26,184.08","27,284.08",0,"4,911.14"
19,9,7213200000,MARITIMA DEL CALLAO ...,"KOREA, REPUBLIC OF ...",Julio 2015,"91,029.84","98,239.29",0,"17,683.08"
20,10,7213200000,MARITIMA DEL CALLAO ...,EL SALVADOR ...,Enero 2015,"19,775.49","21,406.61",0,"3,853.19"

In [38]:
data.columns = data.iloc[0]      # Toma la primera fila como encabezado
data = data[1:]                  # Elimina esa primera fila del cuerpo del DataFrame
df = data.reset_index(drop=True)  # Opcional: resetea el índice
df

10,ITEM,PARTIDA,ADUANA,PAIS,MES,FOB $,CIF $,ADV $,IMP. ARANCEL $
0,1,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Enero 2015,"641,033.89","692,172.65",0,"124,591.09"
1,2,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Febrero 2015,"467,828.11","502,025.64",0,"90,364.62"
2,3,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Marzo 2015,"238,373.41","261,789.52",0,"47,122.11"
3,4,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Abril 2015,"223,818.26","241,245.82",0,"43,424.25"
4,5,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Mayo 2015,"46,237.68","51,208.91",0,"9,217.61"
5,6,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Junio 2015,"223,817.79","241,245.32",0,"43,424.16"
6,7,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Octubre 2015,"250,033.64","278,340.04",0,"50,101.21"
7,8,7213200000,MARITIMA DEL CALLAO ...,CHINA ...,Noviembre 2015,"26,184.08","27,284.08",0,"4,911.14"
8,9,7213200000,MARITIMA DEL CALLAO ...,"KOREA, REPUBLIC OF ...",Julio 2015,"91,029.84","98,239.29",0,"17,683.08"
9,10,7213200000,MARITIMA DEL CALLAO ...,EL SALVADOR ...,Enero 2015,"19,775.49","21,406.61",0,"3,853.19"

In [39]:
#df.dtypes# Lista de columnas a convertir
columnas_numericas = ['FOB $', 'CIF $', 'ADV $', 'IMP. ARANCEL $']

# Reemplazar comas y convertir a float
for col in columnas_numericas:
    df[col] = df[col].replace(',', '', regex=True).astype(float)

df.dtypes

C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\1074047815.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].replace(',', '', regex=True).astype(float)

10
ITEM               object
PARTIDA            object
ADUANA             object
PAIS               object
MES                object
FOB $             float64
CIF $             float64
ADV $             float64
IMP. ARANCEL $    float64
dtype: object

In [40]:
importaciones_por_pais = df.groupby('PAIS')['CIF $'].sum().sort_values(ascending=False)
print(importaciones_por_pais)

PAIS
CHINA                                                      2295311.98
KOREA, REPUBLIC OF                                           98239.29
EL SALVADOR                                                  21406.61
Name: CIF $, dtype: float64

In [41]:

df_2019 = importaciones_por_pais.to_frame(name='2015')
df_2019
df_total=df_2019.copy()

In [42]:
df_total

                                                          2015
PAIS
CHINA                                          ...  2295311.98
KOREA, REPUBLIC OF                             ...    98239.29
EL SALVADOR                                    ...    21406.61

In [43]:
años=['2016','2017','2018','2019','2020','2021','2022','2023','2024']


for año in años:
    data_1=pd.read_excel(f'7213200000 - {año}.xls')
    cols_a_mantener = [i for i in range(data_1.shape[1]) if i not in [0,3,4,6,8,13,12]]
    data_1 = data_1.iloc[:, cols_a_mantener]
    data_1=data_1.dropna()
    data_1.columns = data_1.iloc[0]      # Toma la primera fila como encabezado
    data_1 = data_1[1:]                  # Elimina esa primera fila del cuerpo del DataFrame
    df_1 = data_1.reset_index(drop=True)  # Opcional: resetea el índice 
    #df.dtypes# Lista de columnas a convertir
    columnas_numericas = ['FOB $', 'CIF $', 'ADV $', 'IMP. ARANCEL $']

# Reemplazar comas y convertir a float
    for col in columnas_numericas:
        df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)

    producto = df_1.groupby('PAIS')['CIF $'].sum().sort_values(ascending=False)
    
    df_app = producto.to_frame(name=f'{año}')

    df_total = df_total.merge(df_app, on='PAIS', how='outer')

df_total

C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\1457295727.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)
C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\1457295727.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)
C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\1457295727.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)
C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\1457295727.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)
C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\1457295727.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)
C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\1457295727.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)
C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\1457295727.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)
C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\1457295727.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)
C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\1457295727.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
PAIS,,,,,,,,,,
CHINA,2295311.98,848733.57,675823.30,867636.43,525567.89,2321863.04,11240607.8,2522088.28,5361748.22,5245821.98
EL SALVADOR,21406.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"KOREA, REPUBLIC OF",98239.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SPAIN,NaN,NaN,80.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TURKEY,NaN,NaN,NaN,307773.76,1112700.71,NaN,NaN,2318433.05,1225158.93,NaN
UNITED STATES,NaN,NaN,NaN,NaN,0.55,NaN,NaN,NaN,NaN,NaN

In [44]:
df_total.to_excel('total_7213200000.xlsx')

In [45]:
os.chdir('C:/Users/FERNANDO/Downloads/IMPORTACIONES/partidas/721399')
data_1=pd.read_excel(f'7213990000 - 2015.xls')
cols_a_mantener = [i for i in range(data_1.shape[1]) if i not in [0,3,4,6,8,13,12]]
data_1 = data_1.iloc[:, cols_a_mantener]
data_1=data_1.dropna()
data_1.columns = data_1.iloc[0]      # Toma la primera fila como encabezado
data_1 = data_1[1:]                  # Elimina esa primera fila del cuerpo del DataFrame
df_1 = data_1.reset_index(drop=True)  # Opcional: resetea el índice 
#df.dtypes# Lista de columnas a convertir
columnas_numericas = ['FOB $', 'CIF $', 'ADV $', 'IMP. ARANCEL $']

# Reemplazar comas y convertir a float
for col in columnas_numericas:
    df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)

producto = df_1.groupby('PAIS')['CIF $'].sum().sort_values(ascending=False)

df_2016 = producto.to_frame(name='2015')
df_2016
df_total_1=df_2016.copy()
df_total_1

C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\2211556889.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)

                                                          2015
PAIS
TURKEY                                         ...  2680210.98
CHINA                                          ...   239232.66
BRAZIL                                         ...    62311.74
MEXICO                                         ...     1048.61

In [46]:
os.chdir('C:/Users/FERNANDO/Downloads/IMPORTACIONES/partidas/721399')
años=['2016','2017','2018','2019','2020','2021','2022','2023','2024']


for año in años:
    data_1=pd.read_excel(f'7213990000 - {año}.xls')
    cols_a_mantener = [i for i in range(data_1.shape[1]) if i not in [0,3,4,6,8,13,12]]
    data_1 = data_1.iloc[:, cols_a_mantener]
    data_1=data_1.dropna()
    data_1.columns = data_1.iloc[0]      # Toma la primera fila como encabezado
    data_1 = data_1[1:]                  # Elimina esa primera fila del cuerpo del DataFrame
    df_1 = data_1.reset_index(drop=True)  # Opcional: resetea el índice 
    #df.dtypes# Lista de columnas a convertir
    columnas_numericas = ['FOB $', 'CIF $', 'ADV $', 'IMP. ARANCEL $']

# Reemplazar comas y convertir a float
    for col in columnas_numericas:
        df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)

    producto = df_1.groupby('PAIS')['CIF $'].sum().sort_values(ascending=False)
    
    df_app = producto.to_frame(name=f'{año}')

    df_total_1 = df_total_1.merge(df_app, on='PAIS', how='outer')

df_total_1

C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\10744487.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)
C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\10744487.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)
C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\10744487.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)
C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\10744487.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)
C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\10744487.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)
C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\10744487.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)
C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\10744487.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)
C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\10744487.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)
C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_28356\10744487.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1[col] = df_1[col].replace(',', '', regex=True).astype(float)

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
PAIS,,,,,,,,,,
ARGENTINA,NaN,NaN,NaN,NaN,162564.41,NaN,NaN,NaN,NaN,NaN
BRAZIL,62311.74,175927.46,86761.41,165853.31,511681.95,57477.61,NaN,NaN,NaN,NaN
CHILE,NaN,NaN,NaN,NaN,NaN,140.49,NaN,NaN,NaN,NaN
CHINA,239232.66,311540.16,319889.05,132289.84,11042.66,36415.77,60149.20,66262.89,165590.02,229473.46
GERMANY,NaN,NaN,NaN,NaN,NaN,NaN,745.34,NaN,NaN,NaN
ITALY,NaN,21.01,NaN,NaN,NaN,2943.22,2587.89,15.50,NaN,NaN
MEXICO,1048.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RUSSIAN FEDERATION,NaN,NaN,NaN,NaN,NaN,NaN,340935.52,NaN,NaN,NaN
TURKEY,2680210.98,1621842.05,NaN,NaN,125815.50,430423.87,NaN,NaN,NaN,NaN
UNITED STATES,NaN,NaN,NaN,7315.21,NaN,NaN,17978.21,NaN,NaN,NaN

In [47]:
df_total_1.to_excel('total_7213990000.xlsx')