In [2]:
import numpy as np
import pandas as pd
import os

C:\Users\FERNANDO\AppData\Local\Temp\ipykernel_19420\2443873611.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# DISTRITO

In [3]:
os.chdir('C:/Users/FERNANDO/Documents/PI_INEQUIDAD/scripts_data/data/outputs/LUMINOSIDAD_PERU/LUCES_DISTRITOS')

In [4]:
d=pd.read_csv('LucesNocturnas_Promedio_Distrital_2007.csv')

In [5]:
d.columns

Index(['system:index', 'AREA', 'CAPITAL', 'CODCCPP', 'DEPARTAMEN', 'DISTRITO',
       'FUENTE', 'IDDIST', 'IDDPTO', 'IDPROV', 'PROVINCIA', 'mean', '.geo'],
      dtype='object')

In [6]:
d_1=d.loc[:,['DEPARTAMEN','CAPITAL','PROVINCIA','DISTRITO','IDDIST','mean']].copy()
d_1=d_1.rename(columns={'mean': '2007'})
d_1

,DEPARTAMEN,CAPITAL,PROVINCIA,DISTRITO,IDDIST,2007
0,AMAZONAS,BALSAS,CHACHAPOYAS,BALSAS,10103,0.000000
1,AMAZONAS,LEIMEBAMBA,CHACHAPOYAS,LEIMEBAMBA,10110,0.003907
2,AMAZONAS,LA JALCA,CHACHAPOYAS,LA JALCA,10109,0.000000
3,AMAZONAS,DAGUAS,CHACHAPOYAS,SAN FRANCISCO DE DAGUAS,10118,0.000000
4,AMAZONAS,CHACHAPOYAS,CHACHAPOYAS,CHACHAPOYAS,10101,2.057190
...,...,...,...,...,...,...
1868,UCAYALI,SAN ALEJANDRO,PADRE ABAD,IRAZOLA,250302,0.020154
1869,UCAYALI,MONTE ALEGRE,PADRE ABAD,NESHUYA,250304,0.047628
1870,UCAYALI,AGUAYTIA,PADRE ABAD,PADRE ABAD,250301,0.105254
1871,UCAYALI,CURIMANA,PADRE ABAD,CURIMANA,250303,0.039761
1872,UCAYALI,ESPERANZA,PURUS,PURUS,250401,0.003423

In [7]:
d_consol=d_1.copy()

In [8]:
archivo='LucesNocturnas_Promedio_Distrital_'

anio=list(range(2008,2024))

for elem in anio:
    print(elem)
    fecha=str(elem)
    archivo = f'LucesNocturnas_Promedio_Distrital_{fecha}.csv'
    # asignamos la data a iterar
    d = pd.read_csv(archivo)
    # a partir del año 2008 solo necesito sus valores por año de intensidad luminosa
    d_1 = d.loc[:,['IDDIST','mean']].copy()
    d_1 = d_1.rename(columns={'mean': fecha})
    d_consol = pd.merge(d_consol, d_1, on = "IDDIST", how='inner')  

d_consol

2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023

,DEPARTAMEN,CAPITAL,PROVINCIA,DISTRITO,IDDIST,2007,2008,2009,2010,2011,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,AMAZONAS,BALSAS,CHACHAPOYAS,BALSAS,10103,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.029495,0.006468,-0.005467,0.186534,0.198950,0.138594,0.222325,0.254235,0.641284,0.520559
1,AMAZONAS,LEIMEBAMBA,CHACHAPOYAS,LEIMEBAMBA,10110,0.003907,0.013380,0.000000,0.000000,0.000000,...,0.009114,-0.011564,0.010692,0.167514,0.221473,0.130308,0.217322,0.259196,0.646513,0.574297
2,AMAZONAS,LA JALCA,CHACHAPOYAS,LA JALCA,10109,0.000000,0.000000,0.000000,0.000000,0.000294,...,0.044703,0.022823,0.041703,0.213036,0.229237,0.185418,0.253107,0.375777,0.488771,0.538800
3,AMAZONAS,DAGUAS,CHACHAPOYAS,SAN FRANCISCO DE DAGUAS,10118,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.046483,0.062160,0.060610,0.233748,0.250572,0.205568,0.292836,0.324509,0.555063,0.668325
4,AMAZONAS,CHACHAPOYAS,CHACHAPOYAS,CHACHAPOYAS,10101,2.057190,2.326531,3.220508,3.825872,4.130481,...,0.974810,0.985857,1.025037,1.289835,1.454941,1.282875,1.348007,1.488059,3.181695,4.208814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1868,UCAYALI,SAN ALEJANDRO,PADRE ABAD,IRAZOLA,250302,0.020154,0.032103,0.035228,0.051339,0.044795,...,-0.014123,-0.005834,-0.004511,0.177383,0.194065,0.128258,0.217914,0.243118,0.421213,0.461212
1869,UCAYALI,MONTE ALEGRE,PADRE ABAD,NESHUYA,250304,0.047628,0.085779,0.119007,0.181821,0.071484,...,0.002340,0.014689,-0.005288,0.190642,0.289376,0.166398,0.245371,0.271189,0.627396,0.550011
1870,UCAYALI,AGUAYTIA,PADRE ABAD,PADRE ABAD,250301,0.105254,0.107183,0.081254,0.098257,0.090259,...,0.001920,-0.002217,0.006436,0.177722,0.204118,0.133168,0.232498,0.250145,0.434381,0.470524
1871,UCAYALI,CURIMANA,PADRE ABAD,CURIMANA,250303,0.039761,0.048569,0.084718,0.110562,0.075671,...,-0.013473,-0.003198,-0.017460,0.176499,0.209417,0.132353,0.329667,0.275232,1.116084,0.523339
1872,UCAYALI,ESPERANZA,PURUS,PURUS,250401,0.003423,0.003441,0.000947,0.007224,0.001860,...,-0.049923,-0.047514,-0.036095,0.152641,0.150558,0.091007,0.191890,0.215407,0.381739,0.456315

In [9]:
d_consol.to_excel("C:/Users/FERNANDO/Documents/PI_INEQUIDAD/scripts_data/data/outputs/LUMINOSIDAD_PERU/CONSOLIDADOS/lum_distr_09_023.xlsx")

# REGIONAL

In [10]:
os.chdir('C:/Users/FERNANDO/Documents/PI_INEQUIDAD/scripts_data/data/outputs/LUMINOSIDAD_PERU/LUCES_REGION')
d=pd.read_csv('LucesNocturnas_Promedio_2007.csv')

In [11]:
d.columns

Index(['system:index', 'ADM0_CODE', 'ADM0_NAME', 'ADM1_CODE', 'ADM1_NAME',
       'DISP_AREA', 'EXP1_YEAR', 'STATUS', 'STR1_YEAR', 'Shape_Area',
       'Shape_Leng', 'mean', '.geo'],
      dtype='object')

In [12]:
d_1=d.loc[:,['ADM1_NAME','mean']].copy()
d_1=d_1.rename(columns={'mean': '2007'})
d_1=d_1.rename(columns={'ADM1_NAME': 'REGION'})
d_1

           REGION       2007
0        Amazonas   0.048438
1          Ancash   0.503187
2        Apurímac   0.120285
3        Arequipa   0.458551
4        Ayacucho   0.129461
5       Cajamarca   0.413224
6          Callao  12.430955
7           Cusco   0.199857
8    Huancavelica   0.183682
9         Huánuco   0.119767
10            Ica   0.943329
11          Junín   0.454249
12    La Libertad   0.927901
13     Lambayeque   0.946402
14           Lima   2.379031
15         Loreto   0.028064
16  Madre de Dios   0.033135
17       Moquegua   0.493383
18          Pasco   0.223435
19          Piura   0.676486
20           Puno   0.189625
21     San Martín   0.158617
22          Tacna   0.534931
23         Tumbes   1.055570
24        Ucayali   0.066233

In [13]:
d_consol=d_1.copy()

In [14]:
archivo='LucesNocturnas_Promedio_'

anio=list(range(2008,2024))

for elem in anio:
    print(elem)
    fecha=str(elem)
    archivo = f'LucesNocturnas_Promedio_{fecha}.csv'
    # asignamos la data a iterar
    d = pd.read_csv(archivo)
    # a partir del año 2008 solo necesito sus valores por año de intensidad luminosa
    d_1 = d.loc[:,['ADM1_NAME','mean']].copy()
    d_1=d_1.rename(columns={'mean': fecha})
    d_1=d_1.rename(columns={'ADM1_NAME': 'REGION'})
    d_consol = pd.merge(d_consol, d_1, on = "REGION", how='inner')  

d_consol

2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023

,REGION,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Amazonas,0.048438,0.049123,0.058332,0.064317,0.081364,0.073952,0.074513,0.023177,0.030502,0.041791,0.208615,0.232356,0.165984,0.256804,0.276852,0.291071,0.306177
1,Ancash,0.503187,0.577268,0.624242,0.631660,0.708666,0.744251,0.660073,0.119987,0.115402,0.130381,0.297523,0.307765,0.256861,0.349031,0.372068,0.369381,0.427204
2,Apurímac,0.120285,0.154113,0.139766,0.178847,0.178775,0.302506,0.427741,0.040781,0.038574,0.048357,0.226880,0.239341,0.183743,0.282687,0.311467,0.330336,0.350723
3,Arequipa,0.458551,0.501897,0.513644,0.587861,0.572374,0.635306,0.681291,0.143190,0.128339,0.129290,0.320489,0.325624,0.277552,0.373295,0.407579,0.425399,0.462508
4,Ayacucho,0.129461,0.156803,0.156028,0.167113,0.165509,0.228941,0.252697,0.012950,0.003944,0.009339,0.196061,0.199337,0.144958,0.250584,0.270284,0.277963,0.302216
5,Cajamarca,0.413224,0.407605,0.362450,0.422122,0.495846,0.607468,0.584163,0.148664,0.144026,0.151164,0.320732,0.348498,0.280183,0.367300,0.392787,0.412240,0.460154
6,Callao,12.430955,13.479323,12.776376,13.379931,12.255013,12.419386,14.108256,5.909255,6.088738,7.875677,6.576888,7.026931,6.741820,6.323666,7.080453,7.069265,10.535702
7,Cusco,0.199857,0.232570,0.240542,0.276673,0.281602,0.336038,0.355649,0.076144,0.060442,0.083936,0.255996,0.251467,0.204951,0.310543,0.355981,0.371015,0.394045
8,Huancavelica,0.183682,0.183234,0.209141,0.198904,0.168443,0.209866,0.240996,0.031579,0.025349,0.024995,0.206469,0.211359,0.151842,0.259836,0.273256,0.275977,0.304559
9,Huánuco,0.119767,0.136185,0.154796,0.160648,0.166564,0.182414,0.179452,0.024930,0.018918,0.020945,0.194056,0.219209,0.157545,0.253413,0.269210,0.295966,0.289600
10,Ica,0.943329,1.063639,1.145542,1.271558,1.255607,1.379827,1.461934,0.248897,0.242761,0.252913,0.473186,0.437995,0.413556,0.487440,0.514769,0.549063,0.592174
11,Junín,0.454249,0.463894,0.537602,0.556724,0.514021,0.590646,0.594371,0.099068,0.087151,0.103805,0.270269,0.288706,0.233946,0.325472,0.348200,0.362124,0.407954
12,La Libertad,0.927901,1.098066,1.228801,1.322802,1.262952,1.479785,1.401927,0.229953,0.254606,0.280153,0.432066,0.437138,0.392759,0.490786,0.473105,0.519012,0.648159
13,Lambayeque,0.946402,1.097293,1.032104,1.328784,1.313016,1.383629,1.587088,0.321292,0.316645,0.350138,0.525334,0.539390,0.488425,0.604056,0.607464,0.683809,0.788797
14,Lima,2.379031,2.706734,2.794355,2.901156,2.919001,3.056986,3.370389,0.764289,0.777532,1.084890,1.138285,1.267919,1.309535,1.455026,1.540519,1.529611,1.914426
15,Loreto,0.028064,0.032537,0.027702,0.034887,0.029174,0.034451,0.031716,-0.024326,-0.011752,0.006470,0.150143,0.180630,0.125856,0.240439,0.249565,0.249582,0.275820
16,Madre de Dios,0.033135,0.040858,0.043593,0.053857,0.054419,0.062132,0.059489,-0.027604,-0.038105,-0.021661,0.166064,0.160163,0.109377,0.202476,0.230556,0.235379,0.253551
17,Moquegua,0.493383,0.569828,0.563824,0.634428,0.631915,0.660291,0.698172,0.115354,0.104085,0.121735,0.326767,0.334526,0.328862,0.387391,0.426669,0.458326,0.503078
18,Pasco,0.223435,0.238456,0.256059,0.278754,0.259389,0.305063,0.299888,0.055123,0.034515,0.041553,0.216623,0.234153,0.174575,0.266653,0.289406,0.289129,0.314529
19,Piura,0.676486,0.707029,0.737042,1.038707,1.144859,1.198726,1.318257,0.302776,0.310106,0.319639,0.464952,0.514923,0.477792,0.566477,0.570304,0.610667,0.642672
20,Puno,0.189625,0.200371,0.233920,0.243520,0.233549,0.292711,0.309873,0.027042,0.017474,0.029688,0.219165,0.221931,0.170130,0.266382,0.286600,0.310482,0.337740
21,San Martín,0.158617,0.174558,0.190429,0.202349,0.190252,0.228815,0.232826,0.029026,0.032884,0.035875,0.208285,0.228168,0.160497,0.264412,0.282728,0.289075,0.316374
22,Tacna,0.534931,0.590137,0.548029,0.780405,0.743829,0.715955,0.753475,0.139065,0.114550,0.130242,0.334800,0.320294,0.275513,0.388320,0.397692,0.424506,0.477235
23,Tumbes,1.055570,1.156255,1.499542,1.454550,1.485458,1.591203,1.597573,0.333592,0.325211,0.321057,0.492234,0.526897,0.457883,0.540589,0.549738,0.541945,0.645428
24,Ucayali,0.066233,0.059347,0.063549,0.071537,0.062237,0.072947,0.076300,-0.027510,-0.016151,-0.012769,0.174722,0.181141,0.122420,0.222385,0.237911,0.239351,0.258114

In [15]:
d_consol.to_excel("C:/Users/FERNANDO/Documents/PI_INEQUIDAD/scripts_data/data/outputs/LUMINOSIDAD_PERU/CONSOLIDADOS/lum_reg_09_023.xlsx")

# PROVINCIAS

In [16]:
os.chdir('C:/Users/FERNANDO/Documents/PI_INEQUIDAD/scripts_data/data/outputs/LUMINOSIDAD_PERU/LUCES_PROVINCIA')
d=pd.read_csv('LucesNocturnas_Promedio_Provincial_2007.csv')

In [17]:
d

,system:index,ADM0_CODE,ADM0_NAME,ADM1_CODE,ADM1_NAME,ADM2_CODE,ADM2_NAME,DISP_AREA,EXP2_YEAR,STATUS,STR2_YEAR,Shape_Area,Shape_Leng,mean,.geo
0,000200000000000022c5,195,Peru,2329,Ancash,24013,Antonio Raymondi,NO,3000,Member State,1995,0.046188,1.067638,0.083750,"{""type"":""Polygon"",""coordinates"":[[[-77.1753958..."
1,000200000000000022db,195,Peru,2330,Apurímac,24034,Antabamba,NO,3000,Member State,1995,0.269937,3.403460,0.003581,"{""type"":""GeometryCollection"",""geometries"":[{""t..."
2,000200000000000022f3,195,Peru,2333,Cajamarca,24058,Cajabamba,NO,3000,Member State,1995,0.146545,2.263148,0.280912,"{""type"":""GeometryCollection"",""geometries"":[{""t..."
3,00020000000000002316,195,Peru,2337,Huánuco,24093,Lauricocha,NO,3000,Member State,1995,0.171888,2.141254,0.054645,"{""type"":""Polygon"",""coordinates"":[[[-76.9059051..."
4,0002000000000000231e,195,Peru,2337,Huánuco,24102,Yarowilca,NO,3000,Member State,1995,0.061514,1.227128,0.000000,"{""type"":""GeometryCollection"",""geometries"":[{""t..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,0002000000000000237b,195,Peru,2351,Tumbes,24195,Zarumilla,NO,3000,Member State,1000,0.058406,1.802756,2.583887,"{""type"":""GeometryCollection"",""geometries"":[{""t..."
191,0002000000000000237c,195,Peru,2352,Ucayali,24196,Atalaya,NO,3000,Member State,1000,3.182730,13.101936,0.004733,"{""type"":""GeometryCollection"",""geometries"":[{""t..."
192,0002000000000000237d,195,Peru,2352,Ucayali,24197,Coronel Portillo,NO,3000,Member State,1000,3.209257,11.327698,0.156195,"{""type"":""GeometryCollection"",""geometries"":[{""t..."
193,0002000000000000237e,195,Peru,2352,Ucayali,24198,Padre Abad,NO,3000,Member State,1000,0.763381,4.440997,0.067670,"{""type"":""GeometryCollection"",""geometries"":[{""t..."
194,0002000000000000237f,195,Peru,2352,Ucayali,24199,Purús,NO,3000,Member State,1000,1.491024,6.874602,0.003124,"{""type"":""GeometryCollection"",""geometries"":[{""t..."

In [18]:
d_1=d.loc[:,['ADM1_NAME','ADM2_NAME','ADM2_CODE','ADM1_CODE','mean']].copy()
d_1=d_1.rename(columns={'mean': '2007'})
d_1=d_1.rename(columns={'ADM1_NAME': 'REGION'})
d_1=d_1.rename(columns={'ADM2_NAME': 'PROVINCIA'})
d_1=d_1.rename(columns={'ADM2_CODE': 'UBIGEO'})
d_1

        REGION         PROVINCIA  UBIGEO  ADM1_CODE      2007
0       Ancash  Antonio Raymondi   24013       2329  0.083750
1     Apurímac         Antabamba   24034       2330  0.003581
2    Cajamarca         Cajabamba   24058       2333  0.280912
3      Huánuco        Lauricocha   24093       2337  0.054645
4      Huánuco         Yarowilca   24102       2337  0.000000
..         ...               ...     ...        ...       ...
190     Tumbes         Zarumilla   24195       2351  2.583887
191    Ucayali           Atalaya   24196       2352  0.004733
192    Ucayali  Coronel Portillo   24197       2352  0.156195
193    Ucayali        Padre Abad   24198       2352  0.067670
194    Ucayali             Purús   24199       2352  0.003124

[195 rows x 5 columns]

In [19]:
d_consol=d_1

In [20]:
d_consol['UBIGEO'].unique()

array([24013, 24034, 24058, 24093, 24102, 91840, 24109, 24111, 24120,
       24122, 24127, 24128, 24135, 91847, 24151, 24161, 24162, 24166,
       91842, 24005, 24006, 24007, 24008, 24009, 24010, 24011, 24014,
       24016, 24017, 24018, 24019, 24020, 24021, 24023, 24024, 24025,
       24026, 24027, 24028, 24029, 24030, 24031, 91834, 91835, 91836,
       24032, 24033, 24035, 24036, 24037, 24038, 24039, 24040, 24041,
       24042, 24043, 24044, 24045, 24046, 24047, 24048, 24049, 24050,
       24051, 24052, 24053, 24054, 24055, 24056, 24057, 24059, 24060,
       24061, 24062, 24063, 24064, 24065, 24066, 24067, 24068, 24069,
       24070, 91837, 24072, 24073, 24074, 24075, 24076, 24077, 24078,
       24079, 24080, 24081, 24082, 24083, 24084, 24085, 24086, 24087,
       24089, 24090, 91838, 91839, 24092, 24094, 24095, 24096, 24098,
       24099, 24100, 24101, 24103, 24104, 24105, 24106, 24107, 24108,
       24110, 24112, 24113, 24114, 24115, 24116, 24117, 24118, 24119,
       24121, 24123, 24124, 24125, 24126, 24129, 24130, 24131, 24132,
       24133, 24134, 24136, 24137, 24138, 24140, 24141, 91841, 24143,
       24144, 24145, 24146, 24147, 24148, 24149, 24150, 24152, 24153,
       24154, 24155, 24156, 24157, 24158, 24159, 24160, 24163, 24164,
       24165, 24167, 24168, 24169, 24170, 24171, 24172, 24173, 24174,
       24175, 24176, 91843, 24179, 24182, 24184, 24185, 24186, 24187,
       24188, 91844, 91845, 91846, 24189, 24190, 24191, 24192, 24193,
       24194, 24195, 24196, 24197, 24198, 24199], dtype=int64)

In [21]:
archivo='LucesNocturnas_Promedio_Provincial_'

anio=list(range(2008,2024))

for elem in anio:
    print(elem)
    fecha=str(elem)
    archivo = f'LucesNocturnas_Promedio_Provincial_{fecha}.csv'
    # asignamos la data a iterar
    d = pd.read_csv(archivo)
    # a partir del año 2008 solo necesito sus valores por año de intensidad luminosa
    d_1=d.loc[:,['ADM2_CODE','mean']].copy()
    d_1=d_1.rename(columns={'mean': fecha})
    d_1=d_1.rename(columns={'ADM2_CODE': 'UBIGEO'})

    d_consol = pd.merge(d_consol, d_1, on = "UBIGEO", how='inner')  

d_consol

2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023

,REGION,PROVINCIA,UBIGEO,ADM1_CODE,2007,2008,2009,2010,2011,2012,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Ancash,Antonio Raymondi,24013,2329,0.083750,0.053348,0.000000,0.112911,0.152128,0.193422,...,0.041192,0.032289,0.037490,0.210104,0.229707,0.166098,0.274796,0.279770,0.281165,0.303824
1,Apurímac,Antabamba,24034,2330,0.003581,0.006881,0.004665,0.013289,0.021343,0.040800,...,-0.020709,-0.024887,-0.017311,0.171474,0.179116,0.111678,0.211088,0.227246,0.236696,0.249793
2,Cajamarca,Cajabamba,24058,2333,0.280912,0.274154,0.302403,0.250986,0.294581,0.375657,...,0.075263,0.095960,0.118394,0.294551,0.349671,0.312612,0.399793,0.440313,0.468864,0.469533
3,Huánuco,Lauricocha,24093,2337,0.054645,0.046344,0.054633,0.048036,0.058893,0.079161,...,-0.001443,0.012177,0.018744,0.186860,0.215314,0.157997,0.246159,0.259403,0.286602,0.284829
4,Huánuco,Yarowilca,24102,2337,0.000000,0.005510,0.030235,0.048659,0.090520,0.042043,...,0.017737,0.016706,0.029550,0.198205,0.225051,0.167080,0.259938,0.274875,0.279362,0.274890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Tumbes,Zarumilla,24195,2351,2.583887,2.791819,3.553851,3.591107,3.269866,3.874119,...,0.636293,0.619674,0.654795,0.803249,0.863906,0.763336,0.852975,0.815836,0.790343,0.985563
191,Ucayali,Atalaya,24196,2352,0.004733,0.003999,0.006262,0.009988,0.008544,0.016578,...,-0.041468,-0.037662,-0.035329,0.151948,0.159473,0.099555,0.200393,0.215027,0.211113,0.233719
192,Ucayali,Coronel Portillo,24197,2352,0.156195,0.136345,0.147414,0.158712,0.141208,0.154169,...,-0.008748,0.016328,0.017386,0.206138,0.209912,0.156509,0.251597,0.266782,0.277502,0.291880
193,Ucayali,Padre Abad,24198,2352,0.067670,0.076054,0.072673,0.088583,0.072239,0.105043,...,-0.004528,-0.001386,-0.000275,0.180270,0.210379,0.135851,0.250938,0.255757,0.256031,0.265399
194,Ucayali,Purús,24199,2352,0.003124,0.003254,0.000626,0.006675,0.001727,0.002044,...,-0.049871,-0.047702,-0.035919,0.152873,0.150512,0.090980,0.191832,0.215476,0.208970,0.233779

In [22]:
d_consol.to_excel("C:/Users/FERNANDO/Documents/PI_INEQUIDAD/scripts_data/data/outputs/LUMINOSIDAD_PERU/CONSOLIDADOS/lum_prov_09_023.xlsx")