In [342]:
import geopandas as gpd
import os 
import numpy as np
import pandas as pd
from geopy.geocoders import Nominatim
from unidecode import unidecode

In [343]:
os.chdir('C:/Users/FERNANDO/Documents/PI_INEQUIDAD/scripts_data/data/outputs/distancias/cap_regionalxprovincias')
df=pd.read_excel('lon_lat_cap_prov.xlsx')
df[df.isna().any(axis=1)]

,NOMBDEP,NOMBPROV,NOMBDIST,CAPITAL,lat,lon,consulta_usada
13,APURIMAC,GRAU,VIRUNDO,SAN JUAN DE VIRUNDO,NaN,NaN,NaN
109,AYACUCHO,PARINACOCHAS,SAN FRANCISCO DE RIVACAYCO,SAN FRANCISCO DE RIVACAYCO,NaN,NaN,NaN
153,AYACUCHO,VILCAS HUAMAN,INDEPENDENCIA,NUEVO PACCHA HUALLHUA /4,NaN,NaN,NaN
260,CUSCO,ESPINAR,SUYCKUTAMBO,VIRGINIYOC /5,NaN,NaN,NaN
342,PUNO,YUNGUYO,CUTURAPI,SAN JUAN DE CUTURAPI,NaN,NaN,NaN
436,AREQUIPA,AREQUIPA,POLOBAYA,POLOBAYA GRANDE,NaN,NaN,NaN
492,CUSCO,LA CONVENCION,OCOBAMBA,KQUELCCAYBAMBA /7,NaN,NaN,NaN
841,APURIMAC,CHINCHEROS,EL PORVENIR,SAN PEDRO DE HUAMBURQUE,NaN,NaN,NaN
993,CAJAMARCA,CONTUMAZA,SANTA CRUZ DE TOLED,SANTA CRUZ DE TOLED,NaN,NaN,NaN
1188,ANCASH,HUARMEY,CULEBRAS,LA CALETA CULEBRAS,NaN,NaN,NaN
1366,AMAZONAS,RODRIGUEZ DE MENDOZA,SANTA ROSA,SANTA ROSA DE HUAYABAMBA,NaN,NaN,NaN
1424,LORETO,LORETO,TIGRE,INTUTU,NaN,NaN,NaN
1565,PIURA,PAITA,COLAN,SAN LUCAS (PUEBLO NUEVO DE COLAN),NaN,NaN,NaN

In [344]:
import re

def limpiar_nombre(nombre):
    if pd.isna(nombre):
        return nombre
    nombre = re.sub(r"/\d+", "", nombre)  # elimina /4, /7, etc.
    nombre = re.sub(r"\(.*?\)", "", nombre)  # elimina (PUEBLO NUEVO DE COLAN)
    return nombre.strip()

df["capital_limpia"] = df["CAPITAL"].apply(limpiar_nombre)

In [345]:
df_1=df[df.isna().any(axis=1)].copy()

In [346]:
lat_long = [
    (-14.25006, -72.68175),
    (-14.9969, -73.3514),
    (-13.8522, -73.87729),
    (-15.0089, -71.6432),
    (-16.27001, -69.17745),
    (-16.565834, -71.368339),  
    (-12.87198, -72.44732),
    (-13.39675, -73.59358),
    (-7.3277, -78.8634),
    (-9.94367, -78.22478),
    (-6.45315, -77.45533),
    (-3.4901, -74.78112),
    (-5.006807, -81.05903)
]

# Crear un DataFrame con las coordenadas
df_1=df_1.reset_index(drop=True)
df_1[['lat', 'lon']] = pd.DataFrame(lat_long, columns=['lat', 'lon'])

In [347]:
pd.DataFrame(lat_long, columns=['lat', 'lon'])

          lat        lon
0  -14.250060 -72.681750
1  -14.996900 -73.351400
2  -13.852200 -73.877290
3  -15.008900 -71.643200
4  -16.270010 -69.177450
5  -16.565834 -71.368339
6  -12.871980 -72.447320
7  -13.396750 -73.593580
8   -7.327700 -78.863400
9   -9.943670 -78.224780
10  -6.453150 -77.455330
11  -3.490100 -74.781120
12  -5.006807 -81.059030

In [348]:
df_1

,NOMBDEP,NOMBPROV,NOMBDIST,CAPITAL,lat,lon,consulta_usada,capital_limpia
0,APURIMAC,GRAU,VIRUNDO,SAN JUAN DE VIRUNDO,-14.250060,-72.681750,NaN,SAN JUAN DE VIRUNDO
1,AYACUCHO,PARINACOCHAS,SAN FRANCISCO DE RIVACAYCO,SAN FRANCISCO DE RIVACAYCO,-14.996900,-73.351400,NaN,SAN FRANCISCO DE RIVACAYCO
2,AYACUCHO,VILCAS HUAMAN,INDEPENDENCIA,NUEVO PACCHA HUALLHUA /4,-13.852200,-73.877290,NaN,NUEVO PACCHA HUALLHUA
3,CUSCO,ESPINAR,SUYCKUTAMBO,VIRGINIYOC /5,-15.008900,-71.643200,NaN,VIRGINIYOC
4,PUNO,YUNGUYO,CUTURAPI,SAN JUAN DE CUTURAPI,-16.270010,-69.177450,NaN,SAN JUAN DE CUTURAPI
5,AREQUIPA,AREQUIPA,POLOBAYA,POLOBAYA GRANDE,-16.565834,-71.368339,NaN,POLOBAYA GRANDE
6,CUSCO,LA CONVENCION,OCOBAMBA,KQUELCCAYBAMBA /7,-12.871980,-72.447320,NaN,KQUELCCAYBAMBA
7,APURIMAC,CHINCHEROS,EL PORVENIR,SAN PEDRO DE HUAMBURQUE,-13.396750,-73.593580,NaN,SAN PEDRO DE HUAMBURQUE
8,CAJAMARCA,CONTUMAZA,SANTA CRUZ DE TOLED,SANTA CRUZ DE TOLED,-7.327700,-78.863400,NaN,SANTA CRUZ DE TOLED
9,ANCASH,HUARMEY,CULEBRAS,LA CALETA CULEBRAS,-9.943670,-78.224780,NaN,LA CALETA CULEBRAS
10,AMAZONAS,RODRIGUEZ DE MENDOZA,SANTA ROSA,SANTA ROSA DE HUAYABAMBA,-6.453150,-77.455330,NaN,SANTA ROSA DE HUAYABAMBA
11,LORETO,LORETO,TIGRE,INTUTU,-3.490100,-74.781120,NaN,INTUTU
12,PIURA,PAITA,COLAN,SAN LUCAS (PUEBLO NUEVO DE COLAN),-5.006807,-81.059030,NaN,SAN LUCAS

In [349]:
df_2 = df[~df.isna().any(axis=1)].copy()

In [350]:
df_2

,NOMBDEP,NOMBPROV,NOMBDIST,CAPITAL,lat,lon,consulta_usada,capital_limpia
0,APURIMAC,ANDAHUAYLAS,JOSE MARIA ARGUEDAS,HUANCABAMBA,-13.734127,-73.351000,"HUANCABAMBA, JOSE MARIA ARGUEDAS, ANDAHUAYLAS,...",HUANCABAMBA
1,APURIMAC,AYMARAES,TINTAY,TINTAY,-13.961597,-73.189943,"TINTAY, TINTAY, AYMARAES, APURIMAC, Perú",TINTAY
2,APURIMAC,AYMARAES,LUCRE,LUCRE,-13.949472,-73.226189,"LUCRE, LUCRE, AYMARAES, APURIMAC, Perú",LUCRE
3,APURIMAC,ANDAHUAYLAS,SAN MIGUEL DE CHACCRAMPA,CHACCRAMPA,-13.962438,-73.607960,"CHACCRAMPA, SAN MIGUEL DE CHACCRAMPA, ANDAHUAY...",CHACCRAMPA
4,APURIMAC,ANDAHUAYLAS,HUAYANA,HUAYANA,-14.051177,-73.609013,"HUAYANA, HUAYANA, ANDAHUAYLAS, APURIMAC, Perú",HUAYANA
...,...,...,...,...,...,...,...,...
1886,UCAYALI,CORONEL PORTILLO,CAMPOVERDE,CAMPOVERDE,-8.558827,-74.812339,"CAMPOVERDE, CORONEL PORTILLO, UCAYALI, Perú",CAMPOVERDE
1887,UCAYALI,CORONEL PORTILLO,YARINACOCHA,PUERTO CALLAO,-8.364807,-74.566811,"PUERTO CALLAO, YARINACOCHA, CORONEL PORTILLO, ...",PUERTO CALLAO
1888,UCAYALI,CORONEL PORTILLO,MANANTAY,SAN FERNANDO,-8.398268,-74.536905,"SAN FERNANDO, MANANTAY, CORONEL PORTILLO, UCAY...",SAN FERNANDO
1889,UCAYALI,ATALAYA,RAIMONDI,ATALAYA,-10.729906,-73.754883,"ATALAYA, ATALAYA, UCAYALI, Perú",ATALAYA
1890,UCAYALI,PADRE ABAD,PADRE ABAD,AGUAYTIA,-9.038565,-75.509525,"AGUAYTIA, PADRE ABAD, PADRE ABAD, UCAYALI, Perú",AGUAYTIA

In [351]:
df_total = pd.concat([df_1, df_2], ignore_index=True)

In [352]:
df_total.sort_values(by='NOMBDEP')

,NOMBDEP,NOMBPROV,NOMBDIST,CAPITAL,lat,lon,consulta_usada,capital_limpia
1342,AMAZONAS,CHACHAPOYAS,MARISCAL CASTILLA,DURAZNOPAMPA,-6.593055,-77.809593,"DURAZNOPAMPA, MARISCAL CASTILLA, CHACHAPOYAS, ...",DURAZNOPAMPA
1150,AMAZONAS,BAGUA,ARAMANGO,ARAMANGO,-5.459787,-78.460078,"ARAMANGO, ARAMANGO, BAGUA, AMAZONAS, Perú",ARAMANGO
1149,AMAZONAS,BAGUA,LA PECA,LA PECA,-5.608099,-78.436394,"LA PECA, LA PECA, BAGUA, AMAZONAS, Perú",LA PECA
1147,AMAZONAS,BAGUA,EL PARCO,EL PARCO,-5.625046,-78.476850,"EL PARCO, EL PARCO, BAGUA, AMAZONAS, Perú",EL PARCO
1385,AMAZONAS,CHACHAPOYAS,QUINJALCA,QUINJALCA,-6.091727,-77.678623,"QUINJALCA, QUINJALCA, CHACHAPOYAS, AMAZONAS, Perú",QUINJALCA
...,...,...,...,...,...,...,...,...
1041,UCAYALI,PADRE ABAD,CURIMANA,CURIMANA,-8.434370,-75.155372,"CURIMANA, CURIMANA, PADRE ABAD, UCAYALI, Perú",CURIMANA
1047,UCAYALI,CORONEL PORTILLO,NUEVA REQUENA,NUEVA REQUENA,-8.310752,-74.861740,"NUEVA REQUENA, NUEVA REQUENA, CORONEL PORTILLO...",NUEVA REQUENA
1889,UCAYALI,ATALAYA,RAIMONDI,ATALAYA,-10.729906,-73.754883,"ATALAYA, ATALAYA, UCAYALI, Perú",ATALAYA
1034,UCAYALI,ATALAYA,TAHUANIA,BOLOGNESI,-10.029657,-73.956729,"BOLOGNESI, TAHUANIA, ATALAYA, UCAYALI, Perú",BOLOGNESI
1890,UCAYALI,PADRE ABAD,PADRE ABAD,AGUAYTIA,-9.038565,-75.509525,"AGUAYTIA, PADRE ABAD, PADRE ABAD, UCAYALI, Perú",AGUAYTIA

In [353]:
# Calcular centroides


gdf_final = gpd.GeoDataFrame(
    df_total,
    geometry=gpd.points_from_xy(df_total['lon'], df_total['lat']),
    crs="EPSG:4326"  # Sistema de coordenadas WGS84
)

In [354]:
base_cap_distrital=gdf_final.iloc[:,[0,1,2,3,8]].copy()

In [355]:

base_cap_distrital.rename(columns={'geometry': 'cor_cap_distr'}, inplace=True)
base_cap_distrital.rename(columns={'CAPITAL': 'cap_distr'}, inplace=True)

base_cap_distrital_sorted=base_cap_distrital.sort_values(by= ['NOMBDEP','NOMBPROV','NOMBDIST']).copy()
base_cap_distrital_sorted

base_cap_distrital_sorted['NOMBDEP'] = base_cap_distrital_sorted['NOMBDEP'].apply(lambda x: unidecode(x.strip().upper()))
base_cap_distrital_sorted['NOMBPROV'] = base_cap_distrital_sorted['NOMBPROV'].apply(lambda x: unidecode(x.strip().upper()))

#PRIMERO QUE EN ESTA BASE ESTA ESCRITO NASCA EN VEZ DE NAZCA
base_cap_distrital_sorted['NOMBPROV'] = base_cap_distrital_sorted['NOMBPROV'].replace('NASCA', 'NAZCA')
#SEGUNDO CONTRALMIRANTE VILLAR EN VEZ DE CONTRALMIRANTE VILLA
base_cap_distrital_sorted['NOMBPROV'] = base_cap_distrital_sorted['NOMBPROV'].replace('CONTRALMIRANTE VILLAR', 'CONTRALMIRANTE VILLA')
#TERCERO SAN ANTONIO DE PUTINA EN VEZ DE SAN ANTONIO DE PUTIN
base_cap_distrital_sorted['NOMBPROV'] = base_cap_distrital_sorted['NOMBPROV'].replace('SAN ANTONIO DE PUTINA', 'SAN ANTONIO DE PUTIN')
#CUARTO GENERAL SANCHEZ CERRO EN VEZ DE GRAL.SÁNCHEZ CERRO
base_cap_distrital_sorted['NOMBPROV'] = base_cap_distrital_sorted['NOMBPROV'].replace('GENERAL SANCHEZ CERRO', 'GRAL.SANCHEZ CERRO')
#QUINTO DANIEL ALCIDES CARRION EN VEZ DE DANIEL ALCIDES CARRI
base_cap_distrital_sorted['NOMBPROV'] = base_cap_distrital_sorted['NOMBPROV'].replace('DANIEL ALCIDES CARRION', 'DANIEL ALCIDES CARRI')
#SEXTO MARISCAL RAMÓN CASTILLA EN VEZ DE MARISCAL RAMÓN CASTI
base_cap_distrital_sorted['NOMBPROV'] = base_cap_distrital_sorted['NOMBPROV'].replace('MARISCAL RAMON CASTILLA', 'MARISCAL RAMON CASTI')
#SEPTIMO CARLOS FERMIN FITZCARRALD EN VEZ DE CARLOS F. FITZCARRAL
base_cap_distrital_sorted['NOMBPROV'] = base_cap_distrital_sorted['NOMBPROV'].replace('CARLOS FERMIN FITZCARRALD', 'CARLOS F. FITZCARRAL')
#OOCTAVO FERRENAFE
base_cap_distrital_sorted['NOMBPROV'] = base_cap_distrital_sorted['NOMBPROV'].replace('CARLOS FERMIN FITZCARRALD', 'CARLOS F. FITZCARRAL')

In [356]:
base_prov_reg=pd.read_excel('dist_provincia_cap_to_cap_region.xlsx')
base_prov_reg.rename(columns={'capital': 'cap_reg'}, inplace=True)
base_prov_reg.rename(columns={'Nombre': 'cap_prov'}, inplace=True)
base_prov_reg.rename(columns={'Provincia': 'provincia'}, inplace=True)
base_prov_reg

base_prov_reg['region'] = base_prov_reg['region'].apply(lambda x: unidecode(x.strip().upper()))
base_prov_reg['provincia'] = base_prov_reg['provincia'].apply(lambda x: unidecode(x.strip().upper()))

In [357]:
# al hacer el merge deberia de continuar con los 1891 registros de municipalidades
merged = base_cap_distrital_sorted.merge(base_prov_reg, left_on=['NOMBDEP','NOMBPROV'], right_on=['region','provincia'], how='left')

In [358]:
merged

,NOMBDEP,NOMBPROV,NOMBDIST,cap_distr,cor_cap_distr,region,cap_reg,provincia,cap_prov,cap_provincia,cap_region,distancia_kilometros
0,AMAZONAS,BAGUA,ARAMANGO,ARAMANGO,POINT (-78.46008 -5.45979),AMAZONAS,CHACHAPOYAS,BAGUA,BAGUA,POINT (107872.19938876969 9376556.890997637),POINT (189187.02477267518 9294846.388081105),115.276655
1,AMAZONAS,BAGUA,BAGUA,BAGUA,POINT (-78.53172 -5.63909),AMAZONAS,CHACHAPOYAS,BAGUA,BAGUA,POINT (107872.19938876969 9376556.890997637),POINT (189187.02477267518 9294846.388081105),115.276655
2,AMAZONAS,BAGUA,COPALLIN,COPALLIN,POINT (-78.42441 -5.67554),AMAZONAS,CHACHAPOYAS,BAGUA,BAGUA,POINT (107872.19938876969 9376556.890997637),POINT (189187.02477267518 9294846.388081105),115.276655
3,AMAZONAS,BAGUA,EL PARCO,EL PARCO,POINT (-78.47685 -5.62505),AMAZONAS,CHACHAPOYAS,BAGUA,BAGUA,POINT (107872.19938876969 9376556.890997637),POINT (189187.02477267518 9294846.388081105),115.276655
4,AMAZONAS,BAGUA,IMAZA,CHIRIACO,POINT (-78.28691 -5.16017),AMAZONAS,CHACHAPOYAS,BAGUA,BAGUA,POINT (107872.19938876969 9376556.890997637),POINT (189187.02477267518 9294846.388081105),115.276655
...,...,...,...,...,...,...,...,...,...,...,...,...
1886,UCAYALI,PADRE ABAD,HUIPOCA,HUIPOCA,POINT (-75.44603 -8.97852),UCAYALI,PUCALLPA,PADRE ABAD,AGUAYTÍA,POINT (443935.1418899889 9001007.633262806),POINT (550781.3800765687 9073433.117132705),129.079701
1887,UCAYALI,PADRE ABAD,IRAZOLA,SAN ALEJANDRO,POINT (-75.21289 -8.82829),UCAYALI,PUCALLPA,PADRE ABAD,AGUAYTÍA,POINT (443935.1418899889 9001007.633262806),POINT (550781.3800765687 9073433.117132705),129.079701
1888,UCAYALI,PADRE ABAD,NESHUYA,MONTE ALEGRE,POINT (-74.96463 -8.63937),UCAYALI,PUCALLPA,PADRE ABAD,AGUAYTÍA,POINT (443935.1418899889 9001007.633262806),POINT (550781.3800765687 9073433.117132705),129.079701
1889,UCAYALI,PADRE ABAD,PADRE ABAD,AGUAYTIA,POINT (-75.50952 -9.03856),UCAYALI,PUCALLPA,PADRE ABAD,AGUAYTÍA,POINT (443935.1418899889 9001007.633262806),POINT (550781.3800765687 9073433.117132705),129.079701
1890,UCAYALI,PURUS,PURUS,ESPERANZA,POINT (-70.7073 -9.77256),UCAYALI,PUCALLPA,PURUS,ESPERANZA,POINT (970238.6411037508 8917126.89860404),POINT (550781.3800765687 9073433.117132705),447.633810

In [359]:
merged = merged.set_geometry("cor_cap_distr")

# 1️⃣ Definir CRS original (solo una vez, no transforma coordenadas)
merged = merged.set_crs("EPSG:4326")

merged=merged.to_crs("EPSG:32718").copy()
merged

,NOMBDEP,NOMBPROV,NOMBDIST,cap_distr,cor_cap_distr,region,cap_reg,provincia,cap_prov,cap_provincia,cap_region,distancia_kilometros
0,AMAZONAS,BAGUA,ARAMANGO,ARAMANGO,POINT (116484.565 9395408.299),AMAZONAS,CHACHAPOYAS,BAGUA,BAGUA,POINT (107872.19938876969 9376556.890997637),POINT (189187.02477267518 9294846.388081105),115.276655
1,AMAZONAS,BAGUA,BAGUA,BAGUA,POINT (108651.936 9375505.005),AMAZONAS,CHACHAPOYAS,BAGUA,BAGUA,POINT (107872.19938876969 9376556.890997637),POINT (189187.02477267518 9294846.388081105),115.276655
2,AMAZONAS,BAGUA,COPALLIN,COPALLIN,POINT (120581.299 9371539.659),AMAZONAS,CHACHAPOYAS,BAGUA,BAGUA,POINT (107872.19938876969 9376556.890997637),POINT (189187.02477267518 9294846.388081105),115.276655
3,AMAZONAS,BAGUA,EL PARCO,EL PARCO,POINT (114730.774 9377096.513),AMAZONAS,CHACHAPOYAS,BAGUA,BAGUA,POINT (107872.19938876969 9376556.890997637),POINT (189187.02477267518 9294846.388081105),115.276655
4,AMAZONAS,BAGUA,IMAZA,CHIRIACO,POINT (135523.084 9428689.532),AMAZONAS,CHACHAPOYAS,BAGUA,BAGUA,POINT (107872.19938876969 9376556.890997637),POINT (189187.02477267518 9294846.388081105),115.276655
...,...,...,...,...,...,...,...,...,...,...,...,...
1886,UCAYALI,PADRE ABAD,HUIPOCA,HUIPOCA,POINT (450971.757 9007492.719),UCAYALI,PUCALLPA,PADRE ABAD,AGUAYTÍA,POINT (443935.1418899889 9001007.633262806),POINT (550781.3800765687 9073433.117132705),129.079701
1887,UCAYALI,PADRE ABAD,IRAZOLA,SAN ALEJANDRO,POINT (476588.99 9024125.181),UCAYALI,PUCALLPA,PADRE ABAD,AGUAYTÍA,POINT (443935.1418899889 9001007.633262806),POINT (550781.3800765687 9073433.117132705),129.079701
1888,UCAYALI,PADRE ABAD,NESHUYA,MONTE ALEGRE,POINT (503890.948 9045017.528),UCAYALI,PUCALLPA,PADRE ABAD,AGUAYTÍA,POINT (443935.1418899889 9001007.633262806),POINT (550781.3800765687 9073433.117132705),129.079701
1889,UCAYALI,PADRE ABAD,PADRE ABAD,AGUAYTIA,POINT (444001.324 9000845.095),UCAYALI,PUCALLPA,PADRE ABAD,AGUAYTÍA,POINT (443935.1418899889 9001007.633262806),POINT (550781.3800765687 9073433.117132705),129.079701
1890,UCAYALI,PURUS,PURUS,ESPERANZA,POINT (971202.502 8916733.562),UCAYALI,PUCALLPA,PURUS,ESPERANZA,POINT (970238.6411037508 8917126.89860404),POINT (550781.3800765687 9073433.117132705),447.633810

In [360]:
merged.geometry.crs

<Projected CRS: EPSG:32718>
Name: WGS 84 / UTM zone 18S
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: Between 78°W and 72°W, southern hemisphere between 80°S and equator, onshore and offshore. Argentina. Brazil. Chile. Colombia. Ecuador. Peru.
- bounds: (-78.0, -80.0, -72.0, 0.0)
Coordinate Operation:
- name: UTM zone 18S
- method: Transverse Mercator
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [361]:
merged[merged.isna().any(axis=1)] # todas las columnas han encontrado su par

Empty GeoDataFrame
Columns: [NOMBDEP, NOMBPROV, NOMBDIST, cap_distr, cor_cap_distr, region, cap_reg, provincia, cap_prov, cap_provincia, cap_region, distancia_kilometros]
Index: []

In [362]:
df_final=merged.loc[:,['NOMBDEP', 'NOMBPROV', 'NOMBDIST', 'cap_reg', 'cap_prov', 'cap_distr', 'cap_distr', 'cap_region', 'cap_provincia', 'cor_cap_distr']].copy()

In [363]:
from shapely import wkt

def convertir_wkt_si_es_texto(col):
    return col.apply(lambda x: wkt.loads(x) if isinstance(x, str) and x.strip().startswith("POINT") else x)

df_final['cap_provincia'] = convertir_wkt_si_es_texto(df_final['cap_provincia'])
df_final['cap_region'] = convertir_wkt_si_es_texto(df_final['cap_region'])
df_final['cor_cap_distr'] = convertir_wkt_si_es_texto(df_final['cor_cap_distr'])
df_final = df_final.set_geometry("cor_cap_distr")
df_final = df_final.set_geometry("cap_region")
df_final = df_final.set_geometry("cap_provincia")
df_final

,NOMBDEP,NOMBPROV,NOMBDIST,cap_reg,cap_prov,cap_distr,cap_distr,cap_region,cap_provincia,cor_cap_distr
0,AMAZONAS,BAGUA,ARAMANGO,CHACHAPOYAS,BAGUA,ARAMANGO,ARAMANGO,POINT (189187.025 9294846.388),POINT (107872.199 9376556.891),POINT (116484.565 9395408.299)
1,AMAZONAS,BAGUA,BAGUA,CHACHAPOYAS,BAGUA,BAGUA,BAGUA,POINT (189187.025 9294846.388),POINT (107872.199 9376556.891),POINT (108651.936 9375505.005)
2,AMAZONAS,BAGUA,COPALLIN,CHACHAPOYAS,BAGUA,COPALLIN,COPALLIN,POINT (189187.025 9294846.388),POINT (107872.199 9376556.891),POINT (120581.299 9371539.659)
3,AMAZONAS,BAGUA,EL PARCO,CHACHAPOYAS,BAGUA,EL PARCO,EL PARCO,POINT (189187.025 9294846.388),POINT (107872.199 9376556.891),POINT (114730.774 9377096.513)
4,AMAZONAS,BAGUA,IMAZA,CHACHAPOYAS,BAGUA,CHIRIACO,CHIRIACO,POINT (189187.025 9294846.388),POINT (107872.199 9376556.891),POINT (135523.084 9428689.532)
...,...,...,...,...,...,...,...,...,...,...
1886,UCAYALI,PADRE ABAD,HUIPOCA,PUCALLPA,AGUAYTÍA,HUIPOCA,HUIPOCA,POINT (550781.38 9073433.117),POINT (443935.142 9001007.633),POINT (450971.757 9007492.719)
1887,UCAYALI,PADRE ABAD,IRAZOLA,PUCALLPA,AGUAYTÍA,SAN ALEJANDRO,SAN ALEJANDRO,POINT (550781.38 9073433.117),POINT (443935.142 9001007.633),POINT (476588.99 9024125.181)
1888,UCAYALI,PADRE ABAD,NESHUYA,PUCALLPA,AGUAYTÍA,MONTE ALEGRE,MONTE ALEGRE,POINT (550781.38 9073433.117),POINT (443935.142 9001007.633),POINT (503890.948 9045017.528)
1889,UCAYALI,PADRE ABAD,PADRE ABAD,PUCALLPA,AGUAYTÍA,AGUAYTIA,AGUAYTIA,POINT (550781.38 9073433.117),POINT (443935.142 9001007.633),POINT (444001.324 9000845.095)
1890,UCAYALI,PURUS,PURUS,PUCALLPA,ESPERANZA,ESPERANZA,ESPERANZA,POINT (550781.38 9073433.117),POINT (970238.641 8917126.899),POINT (971202.502 8916733.562)

In [364]:
# Transformar a UTM 18 Sur
#df_final = df_final.to_crs("EPSG:32718")

In [365]:
df_final

,NOMBDEP,NOMBPROV,NOMBDIST,cap_reg,cap_prov,cap_distr,cap_distr,cap_region,cap_provincia,cor_cap_distr
0,AMAZONAS,BAGUA,ARAMANGO,CHACHAPOYAS,BAGUA,ARAMANGO,ARAMANGO,POINT (189187.025 9294846.388),POINT (107872.199 9376556.891),POINT (116484.565 9395408.299)
1,AMAZONAS,BAGUA,BAGUA,CHACHAPOYAS,BAGUA,BAGUA,BAGUA,POINT (189187.025 9294846.388),POINT (107872.199 9376556.891),POINT (108651.936 9375505.005)
2,AMAZONAS,BAGUA,COPALLIN,CHACHAPOYAS,BAGUA,COPALLIN,COPALLIN,POINT (189187.025 9294846.388),POINT (107872.199 9376556.891),POINT (120581.299 9371539.659)
3,AMAZONAS,BAGUA,EL PARCO,CHACHAPOYAS,BAGUA,EL PARCO,EL PARCO,POINT (189187.025 9294846.388),POINT (107872.199 9376556.891),POINT (114730.774 9377096.513)
4,AMAZONAS,BAGUA,IMAZA,CHACHAPOYAS,BAGUA,CHIRIACO,CHIRIACO,POINT (189187.025 9294846.388),POINT (107872.199 9376556.891),POINT (135523.084 9428689.532)
...,...,...,...,...,...,...,...,...,...,...
1886,UCAYALI,PADRE ABAD,HUIPOCA,PUCALLPA,AGUAYTÍA,HUIPOCA,HUIPOCA,POINT (550781.38 9073433.117),POINT (443935.142 9001007.633),POINT (450971.757 9007492.719)
1887,UCAYALI,PADRE ABAD,IRAZOLA,PUCALLPA,AGUAYTÍA,SAN ALEJANDRO,SAN ALEJANDRO,POINT (550781.38 9073433.117),POINT (443935.142 9001007.633),POINT (476588.99 9024125.181)
1888,UCAYALI,PADRE ABAD,NESHUYA,PUCALLPA,AGUAYTÍA,MONTE ALEGRE,MONTE ALEGRE,POINT (550781.38 9073433.117),POINT (443935.142 9001007.633),POINT (503890.948 9045017.528)
1889,UCAYALI,PADRE ABAD,PADRE ABAD,PUCALLPA,AGUAYTÍA,AGUAYTIA,AGUAYTIA,POINT (550781.38 9073433.117),POINT (443935.142 9001007.633),POINT (444001.324 9000845.095)
1890,UCAYALI,PURUS,PURUS,PUCALLPA,ESPERANZA,ESPERANZA,ESPERANZA,POINT (550781.38 9073433.117),POINT (970238.641 8917126.899),POINT (971202.502 8916733.562)

In [366]:
df_final.dtypes

NOMBDEP            object
NOMBPROV           object
NOMBDIST           object
cap_reg            object
cap_prov           object
cap_distr          object
cap_distr          object
cap_region       geometry
cap_provincia    geometry
cor_cap_distr    geometry
dtype: object

In [367]:
df_final
#df_final = df_final.to_crs("EPSG:32718")
df_final['dist_reg_prov'] = df_final.apply(
        lambda row: row['cap_region'].distance(row['cap_provincia'])/1000,
        axis=1
    )
df_final['dist_reg_distr'] = df_final.apply(
        lambda row: row['cap_region'].distance(row['cor_cap_distr'])/1000,
        axis=1
    )
df_final['dist_prov_distr'] = df_final.apply(
        lambda row: row['cor_cap_distr'].distance(row['cap_provincia'])/1000,
        axis=1
    )

In [368]:
df_final

,NOMBDEP,NOMBPROV,NOMBDIST,cap_reg,cap_prov,cap_distr,cap_distr,cap_region,cap_provincia,cor_cap_distr,dist_reg_prov,dist_reg_distr,dist_prov_distr
0,AMAZONAS,BAGUA,ARAMANGO,CHACHAPOYAS,BAGUA,ARAMANGO,ARAMANGO,POINT (189187.025 9294846.388),POINT (107872.199 9376556.891),POINT (116484.565 9395408.299),115.276655,124.090071,20.725550
1,AMAZONAS,BAGUA,BAGUA,CHACHAPOYAS,BAGUA,BAGUA,BAGUA,POINT (189187.025 9294846.388),POINT (107872.199 9376556.891),POINT (108651.936 9375505.005),115.276655,113.981196,1.309371
2,AMAZONAS,BAGUA,COPALLIN,CHACHAPOYAS,BAGUA,COPALLIN,COPALLIN,POINT (189187.025 9294846.388),POINT (107872.199 9376556.891),POINT (120581.299 9371539.659),115.276655,102.900940,13.663595
3,AMAZONAS,BAGUA,EL PARCO,CHACHAPOYAS,BAGUA,EL PARCO,EL PARCO,POINT (189187.025 9294846.388),POINT (107872.199 9376556.891),POINT (114730.774 9377096.513),115.276655,110.945105,6.879770
4,AMAZONAS,BAGUA,IMAZA,CHACHAPOYAS,BAGUA,CHIRIACO,CHIRIACO,POINT (189187.025 9294846.388),POINT (107872.199 9376556.891),POINT (135523.084 9428689.532),115.276655,144.200575,59.011725
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1886,UCAYALI,PADRE ABAD,HUIPOCA,PUCALLPA,AGUAYTÍA,HUIPOCA,HUIPOCA,POINT (550781.38 9073433.117),POINT (443935.142 9001007.633),POINT (450971.757 9007492.719),129.079701,119.624818,9.569236
1887,UCAYALI,PADRE ABAD,IRAZOLA,PUCALLPA,AGUAYTÍA,SAN ALEJANDRO,SAN ALEJANDRO,POINT (550781.38 9073433.117),POINT (443935.142 9001007.633),POINT (476588.99 9024125.181),129.079701,89.083014,40.008684
1888,UCAYALI,PADRE ABAD,NESHUYA,PUCALLPA,AGUAYTÍA,MONTE ALEGRE,MONTE ALEGRE,POINT (550781.38 9073433.117),POINT (443935.142 9001007.633),POINT (503890.948 9045017.528),129.079701,54.828445,74.374521
1889,UCAYALI,PADRE ABAD,PADRE ABAD,PUCALLPA,AGUAYTÍA,AGUAYTIA,AGUAYTIA,POINT (550781.38 9073433.117),POINT (443935.142 9001007.633),POINT (444001.324 9000845.095),129.079701,129.116232,0.175496
1890,UCAYALI,PURUS,PURUS,PUCALLPA,ESPERANZA,ESPERANZA,ESPERANZA,POINT (550781.38 9073433.117),POINT (970238.641 8917126.899),POINT (971202.502 8916733.562),447.633810,448.674348,1.041029

In [369]:
df_final.to_excel('C:/Users/FERNANDO/Documents/PI_INEQUIDAD/scripts_data/data/outputs/distancias/cap_regionalxprovincias/consolidados_distancias.xlsx')